<div>
  <header ng-include="'../../template/header.html'"></header>
  <section class="mainContent">
    <div class="panel panel-warning">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <h3 class="panel-title text-primary">
          <span> 退款基本信息 </span>
        </h3>
      </div>
      <form id="formOfAdding">
        <table class="table tbl_edit tbl_details tblDetails">
          <tbody>
            <!-- 基本信息 -->
            <tr class="row">
              <td class="col-xs-2">
                <span> 订单编号 </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-4">
                    <a ng-href="{{'../orderMng/index.html#/orderMng_queryOrder/'+ queryResult.orderID}}" ng-bind="queryResult.orderID"></a>
                  </div>
                  <div class="col-xs-8"></div>
                </div>
              </td>
            </tr>
            <tr class="row" ng-show="queryResult.orderParentID">
              <td class="col-xs-2">
                <span> 父订单编号 </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-4">
                    <a ng-href="{{'../orderMng/index.html#/orderMng_queryOrder/'+ queryResult.orderParentID}}" ng-bind="queryResult.orderParentID"></a>
                  </div>
                  <div class="col-xs-8"></div>
                </div>
              </td>
            </tr>
            <tr class="row" ng-show="queryResult.refundDate">
              <td class="col-xs-2">
                <span> 退款时间 </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-4">
                    <span ng-bind="queryResult.refundDate"></span>
                  </div>
                  <div class="col-xs-8"></div>
                </div>
              </td>
            </tr>
            <!-- 原订单所属信息 -->
            <tr class="row">
              <td class="col-xs-2">
                <span> 门店 </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-4">
                    <span ng-bind="queryResult.shopName"></span>
                  </div>
                  <div class="col-xs-8"></div>
                </div>
              </td>
            </tr>
            <tr class="row">
              <td class="col-xs-2">
                <span> 仓位号 </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-4">
                    <a ng-href="{{'../shopMng/index.html#/shopMng_queryUnit/'+ queryResult.unitID + '/shop/' + queryResult.shopID}}" ng-bind="queryResult.orderUnitNames"></a>
                  </div>
                  <div class="col-xs-8"></div>
                </div>
              </td>
            </tr>
            <tr class="row">
              <td class="col-xs-2">
                <span> 客户名称 </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-4">
                    <a ng-href="{{'../clientMng/index.html#/clientMng_queryRentClient/'+ queryResult.userID}}" ng-bind="queryResult.userName"></a>
                  </div>
                  <div class="col-xs-8"></div>
                </div>
              </td>
            </tr>
            <!-- 原订单期限信息 -->
            <tr class="row">
              <td class="col-xs-2">
                <span> 起用时间 </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-12">
                    <span ng-bind="queryResult.orderStartDate"></span>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="row">
              <td class="col-xs-2">
                <span> 结束时间 </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-12">
                    <span ng-bind="queryResult.orderEndDate"></span>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="row">
              <td class="col-xs-2">
                <span> 租赁期限 </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-12">
                    <span ng-bind="queryResult.orderRentLast + (queryResult.shopType==1?' 个月':(queryResult.shopType==2)?' 天':'')"></span>
                  </div>
                </div>
              </td>
            </tr>
            <!-- 原订单支付信息 -->
            <tr class="row">
              <td class="col-xs-2">
                <span> 支付状态 </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-12">
                    <span ng-bind="queryResult.orderState | orderPayStateFilter"></span>
                  </div>
                </div>
              </td>
            </tr>
            <!-- 原订单价格信息 -->
            <tr class="row">
              <td class="col-xs-2">
                <span> 标准单价(元/月) </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-4">
                    <span ng-bind="'￥' + queryResult.unitPrice"></span>
                  </div>
                  <div class="col-xs-8"></div>
                </div>
              </td>
            </tr>
            <tr class="row">
              <td class="col-xs-2">
                <span> 押金 </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-4">
                    <span ng-bind="'￥' + queryResult.orderDeposit"></span>
                  </div>
                  <div class="col-xs-8"></div>
                </div>
              </td>
            </tr>
            <tr class="row">
              <td class="col-xs-2">
                <span> 优惠金额 </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-12">
                    <span ng-bind="'￥' + queryResult.orderDiscount"></span>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="row">
              <td class="col-xs-2">
                <span> 实际支付(含押金) </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-12">
                    <span ng-bind="'￥' + queryResult.orderActualPay"></span>
                  </div>
                </div>
              </td>
            </tr>
            <!-- 退款信息 -->
            <tr class="row">
              <td class="col-xs-2">
                <span> 退款金额 </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-12">
                    <span ng-bind="'￥' + queryResult.refundAmount"></span>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="row">
              <td class="col-xs-2">
                <span> 退款来源 </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-12">
                    <span ng-bind="queryResult.refundCauseType | refundCauseTypeFilter"></span>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="row">
              <td class="col-xs-2">
                <span> 退款途径 </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-12">
                    <span ng-bind="queryResult.refundType | refundTypeFilter" ng-class="'msgSuccess'"></span>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="row">
              <td class="col-xs-2">
                <span> 退款状态 </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-12">
                    <span ng-bind="queryResult.refundState | refundStateFilter"></span>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="row" ng-show="queryResult.refundRecvAccout">
              <td class="col-xs-2">
                <span> 退款入账账户 </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-12">
                    <span ng-bind="queryResult.refundRecvAccout"></span>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="row" ng-show="(queryResult.refundState===0)||(queryResult.refundState===2)">
              <td colspan="2">
                <div class="row">
                  <div class="col-xs-2"></div>
                  <div class="col-xs-10">
                    <!-- <input type="button" class="btn btn-long btn-confirm" value="立即退款" ng-show="queryResult.refundType!==2" ng-click="tblDetails.refundNow()"> -->
                    <input type="button" class="btn btn-long btn-cancel" value="确认已人工退款" ng-show="queryResult.refundType===2" ng-click="tblDetails.refundConfirmed()">
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>

    <!-- <div class="panel panel-default" style="margin-bottom:0;margin-top:20px;border-bottom:1px solid #f1f3fa;"> -->
    <div class="panel panel-default" style="margin-bottom:1px;margin-top: 20px;border-top:0px solid #fff;border-bottom:0px solid #fff;border-left:4px solid #C8CAD1;">
      <a id="guardRecord" class="panel-body" style="color:inherit;padding-left:30px;padding-right:45px;height:50px;line-height:20px;position:relative;display:block;cursor:pointer;text-decoration:none;" data-toggle="collapse" ng-click="tblDetails.togglePanel('#guardRecord', '#collapseGuardRecord')">
        <span>银行卡信息</span>
        <span class="fa fa-chevron-circle-down" style="font-size:18px;color:#C8CAD1;position:absolute;z-index:2;top:50%;transform:translateY(-50%);right:40px;"></span>
      </a>
    </div>
    <div class="collapse in" id="collapseGuardRecord">
      <div class="panel panel-warning">
        <div class="panel-body" style="padding:0;">
          <table class="table tbl_edit tbl_details tblDetails">
            <tbody>
              <tr class="row" ng-show="queryResult.refundBankNO">
                <td class="col-xs-2">银行卡账号</td>
                <td class="col-xs-10" ng-bind="queryResult.refundBankNO || '- -'" ng-class="{'msgInvalid':(!queryResult.refundBankNO) }"></td>
              </tr>
              <tr class="row" ng-show="queryResult.refundBankNO">
                <td class="col-xs-2">持卡人姓名</td>
                <td class="col-xs-10" ng-bind="queryResult.refundCardholder || '- -'" ng-class="{'msgInvalid':(!queryResult.refundBankNO) }"></td>
              </tr>
              <tr class="row" ng-show="queryResult.refundBankNO">
                <td class="col-xs-2">开户行</td>
                <td class="col-xs-10" ng-bind="queryResult.refundBankDeposit || '- -'" ng-class="{'msgInvalid':(!queryResult.refundBankNO) }"></td>
              </tr>
              <tr class="row" ng-show="queryResult.refundBankNO">
                <td class="col-xs-2">退款联系人</td>
                <td class="col-xs-10" ng-bind="queryResult.refundContactName || '- -'" ng-class="{'msgInvalid':(!queryResult.refundBankNO) }"></td>
              </tr>
              <tr class="row" ng-show="queryResult.refundBankNO">
                <td class="col-xs-2">退款联系方式</td>
                <td class="col-xs-10" ng-bind="queryResult.refundContactPhone || '- -'" ng-class="{'msgInvalid':(!queryResult.refundBankNO) }"></td>
              </tr>
              <tr class="hintNoMsg" ng-show="!queryResult.refundBankNO">
                <td colspan="2" style="border-top:0px;">
                  <span class="msgInvalid">- 暂无相关信息 -</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div ng-include="'../../template/modalBasic.html'"></div>
  </section>
</div>
