.irow {
  width: 100%;
  overflow: hidden;
}
.irow::before {
  content: ' ';
  display: table;
}
.irow::after {
  content: ' ';
  display: table;
}
.icol-left {
  float: left;
  width: 28%;
}
.icol-right {
  float: left;
  width: 72%;
}
.icol-left {
  padding-right: 20px;
}
.export-container {
  position: relative;
  z-index: 3;
  left: 50%;
  margin-top: 4%;
  -webkit-transform: translate(-50%, -2%);
          transform: translate(-50%, -2%);
  background-color: #ffffff;
  display: inline-block;
  width: 512px;
  height: 520px;
  border: 1px solid #E7ECF1;
  border-radius: 6px;
  padding: 40px 36px 10px;
}
.export-container .irow:not(:last-child) {
  margin-bottom: 40px;
  font-size: 16px;
}
.export-container .irow:first-child {
  margin-top: 10px;
}
.export-container .irow:last-child {
  position: relative;
  bottom: -20px;
}
.export-container .irow > [class*='icol-'] {
  height: 50px;
  line-height: 48px;
}
.date-picker-input {
  display: inline-block !important;
  width: 315px;
  height: 48px;
  border: 1px solid #E7ECF1;
  border-radius: 2px;
  background-color: #ffffff;
  outline: none;
  vertical-align: middle;
  position: relative;
}
.date-picker-input > .laydate-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 6px;
}
.idropdown-sel > .idropdown-btn {
  text-align: center;
  width: 315px;
  height: 48px;
  border: 1px solid #E7ECF1;
  background-color: #ffffff;
}
.idropdown-sel > .idropdown-menu {
  width: 315px;
}
.idropdown-sel > .idropdown-menu ul {
  padding-left: 10px;
  max-height: 300px;
  overflow-y: auto;
}
.idropdown-sel > .idropdown-menu ul li:first-child {
  height: 40px;
}
.idropdown-sel > .idropdown-menu ul li:first-child ~ li {
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
}
.idropdown-sel > .idropdown-menu ul li:first-child ~ li:hover {
  background-color: #F1F3FA;
  cursor: pointer;
}
.idropdown-sel .search-group {
  height: 56px;
}
.idropdown-sel .search-group .search-group-text {
  width: 239px;
  height: 32px;
  line-height: 30px;
}
.sel-time {
  padding: 0 15px;
  background-color: #E8EAF1;
  border-radius: 5px;
  width: auto !important;
  /* for the future */
}
.sel-time ::-webkit-input-placeholder {
  color: #4d6b8a;
}
.sel-time :-moz-placeholder {
  color: #4d6b8a !important;
}
.sel-time ::-moz-placeholder {
  color: #4d6b8a !important;
}
.sel-time :-ms-input-placeholder {
  color: #4d6b8a !important;
}
.mainContent .table-statics.table-statics-diagram {
  background-color: #fff;
  padding: 20px 10px;
  margin-bottom: 20px;
}
.mainContent .table-statics.table-statics-diagram .tblToolbar-row .title {
  height: 34px;
  line-height: 34px;
  position: relative;
}
.mainContent .table-statics.table-statics-diagram .tblToolbar-row .title::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 3px;
  top: 0;
  left: -10px;
  background-color: #ffd700;
}
.mainContent .table-statics.table-statics-diagram .content-box-header {
  border-bottom: 0 none;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainContent .table-statics.table-statics-diagram .content-box-header .title {
  display: inline-block;
}
.mainContent .table-statics.table-statics-diagram .content-box-header .datepickerDiv {
  display: inline-block;
  margin-left: 40px;
}
.mainContent .table-statics.table-statics-diagram .content-box-header .timePeriod {
  float: right;
}
.mainContent .table-statics.table-statics-diagram .content-box-header .timePeriod a {
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 4px;
  color: #9D9FA7;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}
.mainContent .table-statics.table-statics-diagram .content-box-header .timePeriod a:hover {
  border-bottom-color: #ffd700;
}
.mainContent .table-statics.table-statics-diagram .content-box-header .timePeriodChsn {
  color: #ffd700 !important;
  border-bottom-color: #ffd700 !important;
}
.mainContent .diagramTitle {
  font-size: 16px;
}
.mainContent .content-box {
  height: 500px;
}
.mainContent .panel {
  border: 0 none;
  box-shadow: none;
  margin-bottom: 0;
}
.btn-group.dropdown .dropdown-toggle {
  box-shadow: none !important;
  border: 1px solid #c2cad8;
  width: auto !important;
}
.btn-group.dropdown .dropdown-menu {
  padding: 5px;
}
.btn-group.dropdown .dropdown-menu .input-group .fa-search {
  font-size: 14px;
  position: absolute;
  top: 7px;
  left: 12px;
  z-index: 100;
  color: #c9c9c9;
}
.btn-group.dropdown .dropdown-menu .input-group .btn {
  margin-right: 0;
}
.btn-group.dropdown .dropdown-menu .input-group .form-control {
  border: 1px solid #c2cad8;
}
.btn-group.dropdown .dropdown-menu .input-group .input-group-btn {
  height: 34px !important;
}
.btn-group.dropdown .dropdown-menu .dropdown-menu-items {
  max-height: 295px;
  overflow-y: scroll;
  padding-left: 0px !important;
}
.btn-group.dropdown .dropdown-menu .dropdown-menu-items li a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857;
  color: #34495e !important;
  white-space: nowrap;
}
.btn-group.dropdown .dropdown-menu .dropdown-menu-items li a:hover {
  text-decoration: none;
  color: #2b3c4e;
  background-color: #e1e5ec;
}
.btn-cancel {
  background-color: white !important;
  border: 1px solid #ff9600;
  color: #ff9600;
}
.btn-cancel:hover {
  border: 0 none;
}
/*********************************************************************
 * 表格单元格中的图片
 *********************************************************************/
.contractList-box .img-box {
  width: 60px;
  height: 60px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #e6e6ee;
  cursor: pointer;
  position: relative;
}
.contractList-box .img-box img {
  display: block;
  width: 100%;
  height: 100%;
}
.contractList-box .img-box .delete-img {
  width: 16px;
  height: 0;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  cursor: pointer;
}
.contractList-box .img-box .delete-img::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  width: 10px;
  height: 1px;
  background-color: rgba(249, 101, 101, 0);
}
.contractList-box .img-box .delete-img::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  width: 10px;
  height: 1px;
  background-color: rgba(249, 101, 101, 0);
}
.contractList-box .img-box:hover .delete-img {
  background-color: rgba(255, 255, 255, 0.8);
  width: 16px;
  height: 16px;
  transition: background-color 0.4s;
}
.contractList-box .img-box:hover .delete-img::before {
  background-color: #f96565;
  transition: background-color 0.4s;
}
.contractList-box .img-box:hover .delete-img::after {
  background-color: #f96565;
  transition: background-color 0.4s;
}
/*********************************************************************
 * 查看合同样式
 *********************************************************************/
.viewContract-outerbox {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2016;
  opacity: 0;
  text-align: center;
}
.viewContract-outerbox .img-box {
  position: relative;
  height: 0;
  display: inline-block;
  margin: 0 auto;
  overflow: auto;
}
.viewContract-outerbox .img-box .scroll-box {
  display: inline;
  height: auto;
}
.viewContract-outerbox .img-box .scroll-box img {
  max-width: 1000px;
}
.viewContract-outerbox .prev,
.viewContract-outerbox .next {
  z-index: 1;
  position: absolute;
  top: 0;
  height: 80px;
  width: 80px;
}
.viewContract-outerbox .prev .img-view-tip,
.viewContract-outerbox .next .img-view-tip {
  color: #fff;
  position: absolute;
  height: 60px;
  line-height: 60px;
  width: 100px;
  top: 50%;
  opacity: 0;
}
.viewContract-outerbox .prev .img-view-tip-show,
.viewContract-outerbox .next .img-view-tip-show {
  opacity: 1;
  transition: opacity 0.3s;
}
.viewContract-outerbox .prev button,
.viewContract-outerbox .next button {
  background-color: transparent;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  top: 50%;
  opacity: 1;
}
.viewContract-outerbox .prev {
  left: 0;
}
.viewContract-outerbox .prev .img-view-tip {
  left: 80px;
}
.viewContract-outerbox .prev button {
  left: 10px;
  background-image: url('../../img/left.png');
  background-size: 60px 60px;
}
.viewContract-outerbox .prev button:hover {
  opacity: 1;
  background-image: url('../../img/left_per.png');
}
.viewContract-outerbox .next {
  right: 0;
}
.viewContract-outerbox .next .img-view-tip {
  right: 80px;
}
.viewContract-outerbox .next button {
  right: 10px;
  background-image: url('../../img/right.png');
  background-size: 60px 60px;
}
.viewContract-outerbox .next button:hover {
  opacity: 1;
  background-image: url('../../img/right_per.png');
}
.viewContract-outerbox-show {
  opacity: 1;
}
.viewer-container {
  background-color: #000000;
}
.viewer-container .viewer-button.viewer-close {
  background-color: rgba(39, 39, 39, 0.8);
}
.viewer-container .viewer-toolbar > li:hover {
  background-color: rgba(39, 39, 39, 0.8);
}
