.titleDivider {
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 16px;
  border-left: 3px solid #9D9FA7;
  margin-right: 10px;
}
.titleDivider + span {
  color: #9D9FA7;
}
.tblToolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 20px;
}
.tblToolbar label {
  margin-right: 20px;
}
.table-statics {
  border-bottom: 1px solid #E5E7F0;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.table-statics:last-child {
  border-bottom: none;
}
.table-statics .title {
  color: #9D9FA7;
  margin-bottom: 8px;
}
.table-statics .content {
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.table-statics .content > .statics-label-large,
.table-statics .content > .statics-label-medium {
  width: 18.5%;
}
.table-statics .content > .statics-diagram {
  width: 48.5%;
  border: 1px solid #E6E7F0;
}
.table-statics .statics-label-orange {
  background-color: #F59C3D;
}
.table-statics .statics-label-olive {
  background-color: #bbd192;
  min-width: 231px;
}
.table-statics .statics-label-yellow {
  background-color: #FFD700;
}
.table-statics .statics-label-green {
  background-color: #7ED7B7;
}
.table-statics .statics-label-blue {
  background-color: #7EBFD7;
}
.table-statics .statics-label-large-divider {
  position: absolute;
  z-index: 2;
  width: 1px;
  height: 100%;
  border-left: 2px dashed #D6D7E0;
  top: 0;
  left: -1%;
}
.table-statics .statics-label-large {
  height: 116px;
  color: #343337;
  position: relative;
  z-index: 1;
}
.table-statics .statics-label-large .number {
  font-size: 34px;
  position: relative;
  z-index: 2;
}
.table-statics .statics-label-large .text {
  position: relative;
  z-index: 2;
}
.table-statics .statics-label-large .text .data-item {
  font-size: 12px;
  color: #565e54;
}
.table-statics .statics-label-large:not(:last-child) {
  padding: 10px 20px 0 0;
}
.table-statics .statics-label-large:not(:last-child) .number {
  float: right;
}
.table-statics .statics-label-large:not(:last-child) .text {
  float: right;
  margin-top: 16px;
}
.table-statics .statics-label-large:not(:last-child) .text .data-item {
  display: inline-block;
}
.table-statics .statics-label-large:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.table-statics .statics-label-large:last-child .number,
.table-statics .statics-label-large:last-child .text {
  width: auto;
  height: auto;
}
.table-statics .statics-label-large:last-child object {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.table-statics .statics-label-large object {
  position: absolute;
  z-index: 1;
  width: 80px;
  height: 80px;
}
.table-statics .statics-label-large .logo-orange {
  bottom: -16px;
  left: -17px;
}
.table-statics .statics-label-large .logo-olive {
  bottom: -8px;
  left: -24px;
}
.table-statics .statics-label-large .logo-yellow {
  bottom: -14px;
  left: -8px;
}
.table-statics .statics-label-large .logo-green {
  bottom: -23px;
  left: 40px;
}
.table-statics .statics-label-large .logo-blue {
  bottom: -17px;
  left: -10px;
}
.table-statics .all-client-cnt {
  height: 110px;
  padding: 10px 0;
  width: 73%;
  min-width: 150px !important;
  max-width: 250px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.table-statics .statics-label-medium {
  display: block;
  background-color: #fff;
  height: 54px;
  padding: 0 36px 0 20px;
  font-size: 16px;
  line-height: 54px;
  position: relative;
  border: 1px solid #E6E7F0;
}
.table-statics .statics-label-medium:active {
  background-color: #fafafa;
}
.table-statics .statics-label-medium .number {
  font-size: 20px;
  float: right;
  color: #343337;
}
.table-statics .statics-label-medium .text {
  float: left;
  color: #9D9FA7;
}
.table-statics .statics-label-medium span.fa {
  color: #E6E7F0;
  font-size: 18px;
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.table-statics.table-statics-diagram {
  padding-bottom: 0;
}
.table-statics.table-statics-diagram .content-box-header {
  padding-top: 6px;
  padding-bottom: 6px;
}
#allIncomeDiagramBox .diagramTitle,
#rentRateDiagramBox .diagramTitle {
  font-size: 16px;
}
#allIncomeDiagramBox .content-box,
#rentRateDiagramBox .content-box {
  height: 400px;
  background-color: #fff;
  padding: 10px;
}
#allIncomeDiagramBox .content-box div[class*='col-'],
#rentRateDiagramBox .content-box div[class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}
#allIncomeDiagramBox .content-box-header,
#rentRateDiagramBox .content-box-header {
  border-bottom: 1px solid #E5E7F0;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#allIncomeDiagramBox .content-box-header .title,
#rentRateDiagramBox .content-box-header .title {
  display: inline-block;
}
#allIncomeDiagramBox .content-box-header .datepickerDiv,
#rentRateDiagramBox .content-box-header .datepickerDiv {
  display: inline-block;
}
#allIncomeDiagramBox .content-box-header .timePeriod,
#rentRateDiagramBox .content-box-header .timePeriod {
  float: right;
}
#allIncomeDiagramBox .content-box-header .timePeriod a,
#rentRateDiagramBox .content-box-header .timePeriod a {
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 4px;
  color: #9D9FA7;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}
#allIncomeDiagramBox .content-box-header .timePeriod a:hover,
#rentRateDiagramBox .content-box-header .timePeriod a:hover {
  border-bottom-color: #ffd700;
}
#allIncomeDiagramBox .content-box-header .timePeriodChsn,
#rentRateDiagramBox .content-box-header .timePeriodChsn {
  color: #ffd700 !important;
  border-bottom-color: #ffd700 !important;
}
