.qrcode-mask {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
}
.qrcode-mask .qrcode-container {
  position: absolute;
  z-index: 1001;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.qrcode-mask .icon-close {
  position: relative;
  left: 290px;
  font-size: 30px;
}
.qrcode-mask .icon-close:hover {
  cursor: pointer;
}
.qrcode-mask .scode-container {
  background-color: #fff;
  width: 300px;
  height: 380px;
  border-radius: 5px;
  text-align: center;
  padding: 20px 0 0 0;
}
.qrcode-mask .scode-container #scode {
  background-color: #ffffff;
  margin-bottom: 12px;
  display: inline-block;
}
.qrcode-mask .scode-container .qrcode-name {
  font-size: 18px;
  text-align: center;
  color: #333;
}
.qrcode-mask .scode-container .qrcode-short-link {
  display: inline-block;
  width: 240px;
  border-radius: 5px;
  padding: 10px 0;
  background-color: #E8EAF1;
  color: #333;
}
