<div>
  <header ng-include="'../../template/header.html'"></header>
  <section class="mainContent">
    <div class="table-toolbar tblToolbar">
      <div class="tblToolbar-row">
        <div class=""></div>
        <div class="input-group input-medium tblToolbar-search">
          <span class="fa fa-search"></span>
          <input type="search" class="form-control" id="searchGrp" name="searchGrp" placeholder="设备名 / SN号" ng-model="tblToolbar.searchVal" ng-enter="tblToolbar.launchSearch()">
          <span class="input-group-btn">
            <button class="btn btn-confirm" type="button" ng-click="tblToolbar.launchSearch()"> 搜索 </button>
          </span>
        </div>
      </div>
      <div class="tblToolbar-row">
        <div class=""></div>
        <div class="right-arrange">
          <label><span>选择城市：</span>
            <select name="citySel" id="citySel" class="form-control input-inline" ng-options="opt.name for opt in tblToolbar.cityList" ng-model="tblToolbar.cityVal" ng-change="tblToolbar.cityValChanged()">
              <option value="">-请选择-</option>
            </select>
          </label>
          <div class="item-divider"></div>
          <label><span>选择门店：</span>
            <select name="shopSel" id="shopSel" class="form-control input-inline" ng-options="opt.name for opt in tblToolbar.shopList" ng-model="tblToolbar.shopVal" ng-change="tblToolbar.shopValChanged()">
              <option value="">-请选择-</option>
            </select>
          </label>
          <div class="item-divider"></div>
          <!-- <label><span>设备状态：</span>
            <select name="shopTypeSel" id="shopTypeSel" class="form-control input-small input-inline" ng-options="opt.name for opt in tblToolbar.guardDeviceStateList" ng-model="tblToolbar.stateVal" ng-change="tblToolbar.stateValChanged()">
              <option value="">-请选择-</option>
            </select>
          </label>
          <div class="item-divider"></div> -->
          <label><span>显示条数：</span>
            <select name="itemNumSel" id="itemNumSel" class="form-control input-inline" ng-options="opt.name for opt in tblToolbar.itemNumList" ng-model="tblToolbar.itemNumVal" ng-change="tblToolbar.itemNumValChanged()">
            </select>
          </label>
        </div>
      </div>
    </div>

    <table class="table table-hover table-bordered tblNormal">
      <thead>
        <tr>
          <th>
            <div>
              <span>门店名称</span>
            </div>
          </th>
          <th>
            <div>
              <span>设备名称</span>
            </div>
          </th>
          <th>
            <div>
              <span>设备SN号</span>
            </div>
          </th>
          <th>
            <div>
              <span>设备状态</span>
            </div>
          </th>
          <th>
            <div>
              <span>状态更新时间</span>
            </div>
          </th>
          <th>
            <div>
              <span>更多</span>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- 以下由自己手动插入-->
        <tr ng-repeat="item in tblNormal.dataList" ng-if="tblNormal.dataList.length>0">
          <td ng-bind="item.shopName || '- -'" ng-class="item.shopName?'':'msgInvalid'"></td>
          <td ng-bind="item.deviceName || '- -'" ng-class="item.deviceName?'':'msgInvalid'"></td>
          <td ng-bind="item.deviceSN || '- -'" ng-class="item.deviceSN?'':'msgInvalid'"></td>
          <td ng-bind="(item.onlineState | wjlDeviceStateFilter) || '- -'" ng-class="item.onlineState===2?'msgError':(item.onlineState===1)?'msgSuccess':'msgInvalid'"></td>
          <td ng-bind="(item.updateDate) || '- -'" ng-class="item.updateDate?'':'msgInvalid'"></td>
          <td>
            <input type="hidden" name="dataID" ng-value="item.id">
            <a ng-href="{{'../shopMng/index.html#/shopMng_detailsSmoke/'+item.id}}" ng-if="(adminModules[9].type == 3) || (adminModules[9].type == 4)">查看</a>&emsp;
            <a ng-href="{{'../shopMng/index.html#/shopMng_editSmoke/'+item.id+'/'+item.shopID}}" ng-if="(adminModules[9].type == 3) || (adminModules[9].type == 4)">编辑</a>&emsp;
            <a href="" ng-click="tblNormal.delete(item.id)" ng-if="(adminModules[9].type == 3) || (adminModules[9].type == 4)">删除</a>
          </td>
        </tr>
        <tr ng-if="tblNormal.dataList.length==0" class="hintNoMsg">
          <td colspan="8">
            <span class="msgInvalid">- 暂无相关信息 -</span>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="pull-right">
      <div expagination="" data-config-obj="tblPagination"></div>
    </div>
    <div class="clear"></div>

    <div ng-include="'../../template/modalBasic.html'"></div>
  </section>
</div>
