<div>
  <header ng-include="'../../template/header.html'"></header>
  <section class="mainContent">
    <div class="table-toolbar tblToolbar">
      <div class="tblToolbar-row">
        <div class=""></div>
        <div class="input-group input-medium tblToolbar-search">
          <span class="fa fa-search"></span>
          <input type="search" class="form-control" id="searchGrp" name="searchGrp" placeholder="设备名 / 卡ID号" ng-model="tblToolbar.searchVal" ng-enter="tblToolbar.launchSearch()">
          <span class="input-group-btn">
            <button class="btn btn-confirm" type="button" ng-click="tblToolbar.launchSearch()"> 搜索 </button>
          </span>
        </div>
      </div>
      <div class="tblToolbar-row">
        <div class=""></div>
        <div class="right-arrange">
          <label><span>用户类型：</span>
            <select name="shopTypeSel" id="shopTypeSel" class="form-control input-small input-inline" ng-options="opt.name for opt in tblToolbar.userTypeList" ng-model="tblToolbar.userTypeVal" ng-change="tblToolbar.userTypeValChanged()">
              <option value="">-请选择-</option>
            </select>
          </label>
          <div class="item-divider"></div>
          <label><span>显示条数：</span>
            <select name="itemNumSel" id="itemNumSel" class="form-control input-inline" ng-options="opt.name for opt in tblToolbar.itemNumList" ng-model="tblToolbar.itemNumVal" ng-change="tblToolbar.itemNumValChanged()">
            </select>
          </label>
        </div>
      </div>
    </div>

    <table class="table table-hover table-bordered tblNormal">
      <thead>
        <tr>
          <th>
            <div>
              <span>卡ID号</span>
            </div>
          </th>
          <th>
            <div>
              <span>设备名称</span>
            </div>
          </th>
          <th>
            <div>
              <span>设备SN号</span>
            </div>
          </th>
          <th>
            <div>
              <span>有效期至</span>
            </div>
          </th>
          <th>
            <div>
              <span>用户类型</span>
            </div>
          </th>
          <th>
            <div>
              <span>更多</span>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- 以下由自己手动插入-->
        <tr ng-repeat="item in tblNormal.dataList" ng-if="tblNormal.dataList.length>0">
          <td>
            <a ng-show="item.userType == 1" ng-href="{{'../clientMng/index.html#/clientMng_queryRentClient/'+item.userID}}" ng-bind="item.uid || '- -'" ng-class="item.uid?'':'msgInvalid'"></a>
            <a ng-show="item.userType == 2" ng-href="{{'../authorizeMng/index.html#/authorizeMng_editAdmin/'+item.userID}}" ng-bind="item.uid || '- -'" ng-class="item.uid?'':'msgInvalid'"></a>
          </td>
          <td ng-bind="item.deviceName || '- -'" ng-class="item.deviceName?'':'msgInvalid'"></td>
          <td ng-bind="item.deviceCode || '- -'" ng-class="item.deviceCode?'':'msgInvalid'"></td>
          <td ng-bind="(item.overDueDate | dateFilter:'yyyy-MM-dd') || '- -'" ng-class="item.overDueDate?'':'msgInvalid'"></td>
          <td ng-bind="(item.userType | userTypeFilter) || '- -'" ng-class="((item.userType | userTypeFilter) != '- -')?'':'msgInvalid'"></td>
          <td>
            <input type="hidden" name="dataID" ng-value="item.id">
            <a ng-href="{{'../clientMng/index.html#/clientMng_editCard/'+item.id}}" ng-if="(adminModules[9].type == 3) || (adminModules[9].type == 4)">编辑</a>&nbsp;&nbsp;
            <a href="" ng-click="tblNormal.delCard(item.uid)" ng-if="(adminModules[9].type == 3) || (adminModules[9].type == 4)">删除</a>
          </td>
        </tr>
        <tr ng-if="tblNormal.dataList.length==0" class="hintNoMsg">
          <td colspan="8">
            <span class="msgInvalid">- 暂无相关信息 -</span>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="pull-right">
      <div expagination="" data-config-obj="tblPagination"></div>
    </div>
    <div class="clear"></div>

    <div ng-include="'../../template/modalBasic.html'"></div>
  </section>
</div>
