<div>
  <header ng-include="'../../template/header.html'"></header>
  <section class="mainContent">
    <div class="table-toolbar tblToolbar">
      <div class="tblToolbar-row">
        <div class="left-arrange">
          <div class="title">出租率浮动定价</div>
        </div>
        <div class="right-arrange">
          <div class="input-group input-medium tblToolbar-search">
            <span class="fa fa-search"></span>
            <input type="search" class="form-control" id="searchGrp" name="searchGrp" placeholder="搜索活动名称" ng-model="tblToolbar.priceFixSearchVal" ng-enter="tblToolbar.priceFixLaunchSearch()">
            <span class="input-group-btn">
                  <button class="btn btn-confirm" type="button" ng-click="tblToolbar.priceFixLaunchSearch()"> 搜索 </button>
                </span>
          </div>
        </div>
      </div>
      <div class="tblToolbar-row">
        <div class="left-arrange">
          <a class="btn btn-long {{itemObj.classTxt || 'btn-confirm'}}" ng-href="#/marketMng_priceFixAdd" ng-if="(adminModules[8].type == 3) || (adminModules[8].type == 4)">
            <i class="fa fa-plus"></i>&nbsp;
            <span>新增活动</span>
          </a>
        </div>
        <div class="right-arrange">
          <label>
            <span>选择城市</span>
            &nbsp;
            <select name="citySel" id="citySel" class="form-control input-inline" ng-options="opt.name for opt in tblToolbar.priceFixCityList" ng-model="tblToolbar.priceFixCityVal" ng-change="tblToolbar.priceFixCityValChange()">
              <option value="">-请选择-</option>
            </select>
          </label>
          <div class="item-divider"></div>
          <label>
            <span>选择门店</span>
            &nbsp;
            <select name="shopSel" id="shopSel" class="form-control input-inline" ng-options="opt.name for opt in tblToolbar.priceFixShopList" ng-model="tblToolbar.priceFixShopVal" ng-change="tblToolbar.priceFixShopValChange()">
              <option value="">-请选择-</option>
            </select>
          </label>
          <div class="item-divider"></div>
          <label>
            <span>活动状态</span>
            &nbsp;
            <select name="citySel" id="citySel" class="form-control input-inline" ng-options="opt.name for opt in tblToolbar.priceFixStateList" ng-model="tblToolbar.priceFixStateVal" ng-change="tblToolbar.priceFixStateValChange()">
              <option value=""> 全部 </option>
            </select>
          </label>
          <div class="item-divider"></div>
          <label>
              <span>显示条数：</span>
              <select name="itemNumSel" id="itemNumSel" class="form-control input-inline" ng-options="opt.name for opt in tblToolbar.priceFixItemNumList" ng-model="tblToolbar.priceFixItemNumVal" ng-change="tblToolbar.priceFixItemNumValChanged()">
              </select>
          </label>
        </div>
      </div>
    </div>
    <table class="table table-hover tblNormal">
      <thead>
        <tr>
          <th>
            <div>
              <span>活动名称</span>
            </div>
          </th>
          <th>
            <div>
              <span>城市</span>
            </div>
          </th>
          <th>
            <div>
              <span>有效时间</span>
            </div>
          </th>
          <th>
            <div>
              <span>规则描述</span>
            </div>
          </th>
          <th>
            <div>
              <span>活动状态</span>
            </div>
          </th>
          <th>
            <div>
              <span>更多</span>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- 以下由自己手动插入-->
        <tr ng-repeat="item in tblNormal.priceFixDataList" ng-if="tblNormal.priceFixDataList.length > 0">
          <td ng-bind="item.name"></td>
          <td ng-bind="item.cityName"></td>
          <td>
            <span ng-bind="item.startDate | dateFilter:'yyyy-MM-dd'"></span>
            <span>&nbsp;至&nbsp;</span>
            <span ng-bind="item.endDate | dateFilter:'yyyy-MM-dd'"></span>
          </td>
          <td>
              <span ng-repeat="subItem in item.rules" class="repeat-discount">
                <span ng-bind="'出租率≤'+ subItem.condition+'%'+' '+subItem.discount+'折'"></span><br/>
              </span>
          </td>
          <td ng-bind="item.state | promotionStateFilter"></td>
          <td>
            <input type="hidden" name="dataID" ng-value="item.id">
            <a ng-href="{{'#/marketMng_priceFixDetail/'+ (item.id || '')}}"  ng-if="(adminModules[8].type == 2) || (adminModules[8].type == 4)">详情</a>
            &nbsp;&nbsp;
            <a ng-href="{{'#/marketMng_priceFixEdit/'+(item.id || '')}}"  ng-if="((adminModules[8].type == 3) || (adminModules[8].type == 4))&&(item.state !== 3)">编辑</a>
            &nbsp;&nbsp;
              <a ng-click="tblNormal.deletepriceFixPromotion(item.id)"  ng-if="(adminModules[8].type == 3) || (adminModules[8].type == 4)">删除</a>
            &nbsp;&nbsp;
          </td>
        </tr>
        <tr ng-if="tblNormal.priceFixDataList.length==0" class="hintNoMsg">
          <td colspan="12">
            <span class="msgInvalid">- 暂无相关信息 -</span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pull-right" style="margin-right: 30px;">
      <div expagination="" data-config-obj="priceFixPagination"></div>
    </div>
    <div class="clear"></div>

    <div ng-include="'../../template/modalBasic.html'"></div>
  </section>
  <section class="mainContent">
    <div class="table-toolbar tblToolbar">
      <div class="tblToolbar-row">
        <div class="left-arrange">
          <div class="title">优惠活动定价</div>
        </div>
        <div class="right-arrange">
          <div class="input-group input-medium tblToolbar-search">
            <span class="fa fa-search"></span>
            <input type="search" class="form-control" id="searchGrp" name="searchGrp" placeholder="搜索活动名称" ng-model="tblToolbar.miniSearchVal" ng-enter="tblToolbar.miniLaunchSearch()">
            <span class="input-group-btn">
                  <button class="btn btn-confirm" type="button" ng-click="tblToolbar.miniLaunchSearch()"> 搜索 </button>
                </span>
          </div>
        </div>
      </div>
      <div class="tblToolbar-row">
        <div class="left-arrange">
          <div class="left-arrange">
            <a class="btn btn-long {{itemObj.classTxt || 'btn-confirm'}}" ng-href="#/marketMng_miniAdd" ng-if="(adminModules[8].type == 3) || (adminModules[8].type == 4)">
              <i class="fa fa-plus"></i>&nbsp;
              <span>新增活动</span>
            </a>
          </div>
        </div>
        <div class="right-arrange">
          <label>
            <span>选择城市</span>
            &nbsp;
            <select name="citySel" id="citySel" class="form-control input-inline" ng-options="opt.name for opt in tblToolbar.miniCityList" ng-model="tblToolbar.miniCityVal" ng-change="tblToolbar.miniCityValChange()">
              <option value="">-请选择-</option>
            </select>
          </label>
          <div class="item-divider"></div>
          <label>
            <span>选择门店</span>
            &nbsp;
            <select name="shopSel" id="shopSel" class="form-control input-inline" ng-options="opt.name for opt in tblToolbar.miniShopList" ng-model="tblToolbar.miniShopVal" ng-change="tblToolbar.miniShopValChange()">
              <option value="">-请选择-</option>
            </select>
          </label>
          <div class="item-divider"></div>
          <label>
            <span>活动状态</span>
            &nbsp;
            <select name="citySel" id="citySel" class="form-control input-inline" ng-options="opt.name for opt in tblToolbar.miniStateList" ng-model="tblToolbar.miniStateVal" ng-change="tblToolbar.miniStateValChange()">
              <option value=""> 全部 </option>
            </select>
          </label>
          <div class="item-divider"></div>
          <label>
              <span>显示条数：</span>
              <select name="itemNumSel" id="itemNumSel" class="form-control input-inline" ng-options="opt.name for opt in tblToolbar.miniItemNumList" ng-model="tblToolbar.miniItemNumVal" ng-change="tblToolbar.miniItemNumValChanged()">
              </select>
          </label>
        </div>
      </div>
    </div>
    <table class="table table-hover tblNormal">
      <thead>
        <tr>
          <th>
            <div>
              <span>活动名称</span>
            </div>
          </th>
          <th>
            <div>
              <span>城市</span>
            </div>
          </th>
          <th>
            <div>
              <span>有效时间</span>
            </div>
          </th>
          <th>
            <div>
              <span>规则描述</span>
            </div>
          </th>
          <th>
            <div>
              <span>活动状态</span>
            </div>
          </th>
          <th>
            <div>
              <span>更多</span>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- 以下由自己手动插入-->
        <tr ng-repeat="item in tblNormal.miniDataList" ng-if="tblNormal.miniDataList.length > 0">
          <td ng-bind="item.name"></td>
          <td ng-bind="item.cityName"></td>
          <td>
            <span ng-bind="item.startDate | dateFilter:'yyyy-MM-dd'"></span>
            <span>&nbsp;至&nbsp;</span>
            <span ng-bind="item.endDate | dateFilter:'yyyy-MM-dd'"></span>
          </td>
          <td>
            <span ng-if="(item.businessType===1||item.businessType===2)&&(item.discountType===1)" class="repeat-discount" ng-repeat="subItem in item.rule">
              <span ng-bind="'满'+ subItem.condition +'个月 '+subItem.discount+'折'"></span><br/>
            </span>
            <span ng-if="(item.businessType===1||item.businessType===2)&&(item.discountType===2)" class="repeat-discount" ng-repeat="subItem in item.rule">
              <span ng-bind="'满'+ subItem.condition +'个月 送'+subItem.discount+'个月'"></span><br/>
            </span>
            <span ng-if="(item.businessType===1||item.businessType===2)&&(item.discountType===3)" class="repeat-discount" ng-repeat="subItem in item.rule">
              <span ng-bind="'满'+ subItem.condition +'元 减'+subItem.discount+'元'"></span><br/>
            </span>
          </td>
          <td ng-bind="item.state | promotionStateFilter"></td>
          <td>
            <input type="hidden" name="dataID" ng-value="item.id">
            <a ng-href="{{'#/marketMng_miniDetails/'+ (item.id || '')+'/'+item.businessType}}" ng-if="(adminModules[8].type == 2) || (adminModules[8].type == 4)">详情</a>
            &nbsp;&nbsp;
            <a ng-href="{{'#/marketMng_miniEdit/'+(item.id || '')+'/'+item.businessType}}" ng-if="((adminModules[8].type == 3) || (adminModules[8].type == 4))&&(item.state !==3)">编辑</a>
            &nbsp;&nbsp;
              <a ng-click="tblNormal.deleteMiniPromotion(item.id)" ng-if="(adminModules[8].type == 3) || (adminModules[8].type == 4)">删除</a>
            &nbsp;&nbsp;
          </td>
        </tr>
        <tr ng-if="tblNormal.miniDataList.length==0" class="hintNoMsg">
          <td colspan="12">
            <span class="msgInvalid">- 暂无相关信息 -</span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pull-right" style="margin-right: 30px;">
      <div expagination="" data-config-obj="miniPagination"></div>
    </div>
    <div class="clear"></div>
    <div ng-include="'../../template/modalBasic.html'"></div>
  </section>
</div>
