
<div>
  <header ng-include="'../../template/header.html'"></header>
  <section class="mainContent add-page">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title text-primary">
          <span> 活动详情 </span>
        </h3>
      </div>
    </div>
    <form id="formOfAdding">
      <table class="table tbl_edit tbl_details tblDetails">
        <tbody>
          <tr class="row">
            <td class="col-xs-2">
              <span>活动名称</span>
            </td>
            <td class="col-xs-10 formCtrlTd">
              <div class="row">
                <div class="col-xs-4">
                  <span ng-bind="tblNormal.miniDetails.name"></span>
                </div>
              </div>
            </td>
          </tr>
          <tr class="row">
            <td class="col-xs-2">
              <span>活动创建时间</span>
            </td>
            <td class="col-xs-10 formCtrlTd">
              <div class="row">
                <div class="col-xs-4">
                  <span ng-bind="tblNormal.miniDetails.createDate"></span>
                </div>
              </div>
            </td>
          </tr>
          <tr class="row">
            <td class="col-xs-2">
              <span>活动有效时间</span>
            </td>
            <td class="col-xs-10 formCtrlTd">
              <div class="row">
                <div class="col-xs-8">
                  <span ng-bind="tblNormal.miniDetails.startDate"></span>
                  &nbsp;
                  <span>至</span>
                  &nbsp;
                  <span ng-bind="tblNormal.miniDetails.endDate"></span>
                </div>
              </div>
            </td>
          </tr>
          <tr class="row">
            <td class="col-xs-2">
              <span>最近更新</span>
            </td>
            <td class="col-xs-10 formCtrlTd">
              <div class="row">
                <div class="col-xs-4">
                  <span ng-bind="tblNormal.miniDetails.operateBy"></span>
                </div>
              </div>
            </td>
          </tr>
          <tr class="row">
            <td class="col-xs-2">
              <span>活动状态</span>
            </td>
            <td class="col-xs-10 formCtrlTd">
              <div class="row">
                <div class="col-xs-4">
                  <span ng-bind="tblNormal.miniDetails.state | promotionStateFilter"></span>
                </div>
              </div>
            </td>
          </tr>
          <tr class="row">
            <td class="col-xs-12 td-divider" colspan="2"></td>
          </tr>
          <tr class="row">
            <td class="col-xs-2">
              <span>活动类型</span>
            </td>
            <td class="col-xs-10 formCtrlTd">
              <div class="row">
                <div class="col-xs-12">
                <span ng-bind="tblNormal.miniDetails.discountType | discountRuleFilter"></span>
                </div>
              </div>
            </td>
          </tr>
          <tr class="row">
            <td class="col-xs-2">
              <span>规则描述</span>
            </td>
            <td class="col-xs-10 formCtrlTd">
              <div class="row">
                <div class="col-xs-12">
                  <span class="label" ng-if="(tblNormal.miniDetails.businessType===1||tblNormal.miniDetails.businessType===2)&&(tblNormal.miniDetails.discountType===1)" ng-repeat="item in tblNormal.miniDetails.rule" ng-bind="'满'+ item.condition +'个月 '+item.discount+'折'">
                  </span>
                  <span class="label" ng-if="(tblNormal.miniDetails.businessType===1||tblNormal.miniDetails.businessType===2)&&(tblNormal.miniDetails.discountType===2)" ng-repeat="item in tblNormal.miniDetails.rule" ng-bind="'满'+ item.condition +'个月 送'+item.discount+'个月'">
                  </span>
                  <span class="label" ng-if="(tblNormal.miniDetails.businessType===1||tblNormal.miniDetails.businessType===2)&&(tblNormal.miniDetails.discountType===3)" ng-repeat="item in tblNormal.miniDetails.rule" ng-bind="'满'+ item.condition +'元 减'+item.discount+'元'">
                  </span>
                </div>
              </div>
            </td>
          </tr>
          <tr class="row">
            <td class="col-xs-2">
              <span>城市</span>
            </td>
            <td class="col-xs-10 formCtrlTd">
              <div class="row">
                <div class="col-xs-12">
                  <span class="label" ng-bind="tblNormal.miniDetails.cityName"></span>
                </div>
              </div>
            </td>
          </tr>
          <tr class="row">
            <td class="col-xs-2">
              <span>参加活动的门店</span>
            </td>
            <td class="col-xs-10 formCtrlTd">
              <div class="row">
                <div class="col-xs-8">
                  <span ng-bind="tblNormal.miniDetails.objs"></span>
                </div>
              </div>
            </td>
          </tr>
          <tr class="row">
            <td class="col-xs-12" colspan="2">
              <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-10">
                  <input type="button" class="btn btn-long btn-cancel" value="返回" id="save" ng-click="tblNormal.back()">
                  <input type="button" ng-if="((adminModules[8].type == 3) || (adminModules[8].type == 4)) && (tblNormal.miniDetails.state!==3)" class="btn btn-long btn-confirm" value="结束活动" id="save" ng-click="tblNormal.cancel(tblNormal.miniDetails)">
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
    <div ng-include="'../../template/modalBasic.html'"></div>
  </section>
</div>
