/*******************************************************************************
自定义样式
*******************************************************************************/
section.mainContent {
  margin-bottom: 20px;
  background-color: #fff;
}
section.add-page {
  padding-bottom: 60px;
}
.table-toolbar {
  padding: 20px 30px 0px 10px;
}
table.tblNormal > tr td:first-of-type {
  border-left: 0 none !important;
}
table.tblNormal > tr td:last-of-type {
  border-right: 0 none !important;
}
a {
  cursor: pointer !important;
}
/* 列表标题 */
.tblToolbar-row .title {
  height: 34px;
  line-height: 34px;
  position: relative;
}
.tblToolbar-row .title::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 3px;
  top: 0;
  left: -10px;
  background-color: #ffd700;
}
/* 列表页搜索框背景色 */
.tblToolbar-search > input {
  background-color: #efefef;
}
/*******************************************************************************
原有样式
*******************************************************************************/
.input-name {
  width: 90% !important;
}
div.certPhotoContainer {
  width: 200px;
  text-align: center;
  float: left;
  margin-right: 20px;
}
div.certPhotoContainer div:first-child {
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  height: 120px;
  margin-bottom: 10px;
  border: 1px solid #E8EAF1;
  padding: 1px;
  border-radius: 5px;
  vertical-align: middle;
}
div.certPhotoContainer img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}
.panel {
  border: 0 none;
  box-shadow: none;
  margin-bottom: 0;
}
.panel .panel-body span.fa {
  font-size: 16px;
  color: #C8CAD1;
  position: absolute;
  z-index: 2;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 40px;
}
.flex-row {
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
/**
* 移除选择的参加活动的项目
*/
.removeItem {
  font-size: 12px;
}
/**
 * 促销管理样式--start
 */
.sales-tab {
  height: 40px;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sales-tab > span {
  width: 135px;
  background-color: #e5e5e5;
  display: block;
  text-align: center;
  margin-right: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.sales-state .sales-tab-active {
  background-color: #f9d94a !important;
  color: #34495e;
}
.sales-tab-active {
  background-color: #6b6b6b !important;
  color: #f9d94a;
}
.sales-list {
  padding: 0;
}
.sales-list li {
  background-color: white;
  padding: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sales-list li h6 {
  font-size: 22px;
}
.sales-list li p.empty-tip {
  width: 100%;
  text-align: center;
}
.sales-list li span {
  background-color: #e5e5e5;
  padding: 8px 12px;
  color: white;
  border-radius: 5px;
  font-size: 12px;
}
.sales-list li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  top: 0;
  left: 0;
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
}
.sales-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.sales-info > h6 > a {
  color: #000;
}
.sales-ctrl {
  width: 180px;
}
.sales-ctrl a {
  margin: 0 5px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.sales-step-timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F1F3FA;
  margin-bottom: 16px;
}
.sales-step-timeline > div {
  width: 25%;
  text-align: center;
  margin-right: 8px;
  background-color: #eaebef;
  padding: 16px 0;
  color: #9d9d9d;
  position: relative;
}
.sales-step-timeline > div::before {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  left: 0;
  top: 0;
  border-right: 20px solid transparent;
  border-left: 20px solid #F1F3FA;
  border-top: 25.5px solid transparent;
  border-bottom: 25.5px solid transparent;
}
.sales-step-timeline > div::after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  right: -40px;
  top: 0;
  border-right: 20px solid transparent;
  border-left: 20px solid #eaebef;
  border-top: 25.5px solid transparent;
  border-bottom: 25.5px solid transparent;
}
.sales-step-timeline > div > span {
  margin-right: 5px;
  display: inline-block;
  background-color: #9d9d9d;
  color: #fff;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 50%;
  text-align: center;
}
.sales-step-timeline > div:nth-of-type(1) {
  z-index: 4;
}
.sales-step-timeline > div:nth-of-type(1)::before {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  left: 0;
  top: 0;
  border: 0 none;
}
.sales-step-timeline > div:nth-of-type(2) {
  z-index: 3;
}
.sales-step-timeline > div:nth-of-type(3) {
  z-index: 2;
}
.sales-step-timeline > div:nth-of-type(4) {
  z-index: 1;
}
.sales-step-timeline > div:nth-of-type(4)::after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  right: -40px;
  top: 0;
  border: 0 none;
}
.sales-step-timeline > div:last-child {
  margin-right: 0;
}
.step-active {
  color: black !important;
  background-color: #ffd700 !important;
}
.step-active::after {
  border-left: 20px solid #ffd700 !important;
}
.step-active > span {
  background-color: #000 !important;
}
.sales-step-one .tblDetails tr > td {
  border: 0 none;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.sales-step-one .tblDetails tr > td .row {
  background-color: #f2f3f8;
  padding: 5px 20px;
  border-radius: 5px;
}
.sales-step-one .tblDetails tr > td .row div {
  padding: 0px;
}
.sales-step-one .tblDetails tr > td .row input {
  width: 100%;
}
.sales-step-one .tblDetails tr > td .row .laydate-icon {
  width: 25px !important;
  height: 22px !important;
  background-color: transparent !important;
  background-image: url('../../img/dateIcon-per.png');
  background-size: 100% 100%;
  position: absolute;
  right: 0;
}
.sales-step-one .tblDetails tr > td .row .laydate-icon:hover {
  background-image: url('../../img/dateIcon.png');
}
.sales-step-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 20px 0;
}
.sales-step-two > div:first-of-type {
  width: 300px;
  padding: 20px 30px;
  border-right: 1px solid #e7ecf1;
}
.sales-step-two > div:first-of-type > p {
  margin: 0 !important;
}
.sales-step-two > div:first-of-type > p:not(:first-of-type) {
  color: #9d9d9d;
}
.sales-step-two > div:first-of-type > select {
  margin: 20px 0;
}
.sales-step-two > div:not(:first-of-type) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 25px;
}
.sales-step-two > div:not(:first-of-type) > p {
  max-width: 320px;
  margin-left: 10px;
  height: 70px;
  line-height: 70px;
  position: relative;
}
.sales-step-two > div:not(:first-of-type) > p > span.msgError {
  position: absolute;
  right: -260px;
}
.sales-step-two > div:not(:first-of-type) > p > a {
  position: absolute;
  right: 0;
  top: 18px;
}
.sales-step-two > div:not(:first-of-type) ul {
  min-height: 300px;
  max-height: 420px;
  overflow-y: scroll;
  padding: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.sales-step-two > div:not(:first-of-type) ul li {
  width: 320px;
  margin: 10px;
  height: 105px;
}
.sales-step-two-big > div > p {
  max-width: 600px;
}
.v-line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: #e5e5e5;
}
.sel-pricefix {
  border: 1px solid #c2cad8;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  display: inline-block;
  margin: 20px 0;
  cursor: pointer;
}
.sales-type-checked {
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  background-color: #ffd700;
  margin: 0 auto 16px;
  -webkit-transform: rotateZ(213deg);
          transform: rotateZ(213deg);
  box-sizing: border-box;
}
.sales-step-two-card {
  background-color: #f2f3f8;
  max-width: 300px;
  margin: 10px 0;
  padding: 24px 5px;
  border-radius: 5px;
  text-align: center;
  position: relative;
}
.sales-step-two-card label {
  width: 150px;
  text-align: center;
}
.sales-step-two-card .delete {
  position: absolute;
  top: 4px;
  right: 5px;
  background-color: #f2f3f8;
  width: 16px;
  height: 16px;
  color: white;
}
.sales-step-two-card .delete::before {
  content: "";
  width: 16px;
  height: 0px;
  border: 1px solid #d4d4d4;
  position: absolute;
  top: 8px;
  left: 8px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.sales-step-two-card .delete::after {
  content: "";
  width: 16px;
  height: 0px;
  border: 1px solid #d4d4d4;
  position: absolute;
  top: 8px;
  left: 8px;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.sales-step-two-card .delete:hover::before {
  content: "";
  border: 1px solid #bababa;
}
.sales-step-two-card .delete:hover::after {
  content: "";
  border: 1px solid #bababa;
}
.sales-step-two-card div {
  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
.sales-step-two-card div span {
  display: inline-block;
  text-align: center;
  width: 150px;
  font-size: 12px;
}
.sales-step-two-card input {
  background-color: #fff;
  padding: 8px 5px;
  border-radius: 3px;
  margin: 0 3px;
  border: 0;
  width: 80px;
  text-align: center;
}
.sales-step-two-card input::-webkit-inner-spin-button,
.sales-step-two-card input::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
.sales-step-two-card-big {
  max-width: 350px;
  margin: 10px 0;
}
.sales-step-timeline-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}
.sales-step-timeline-btn a {
  display: block;
  margin: 16px;
}
.sales-step-three {
  padding-bottom: 20px;
}
.sales-step-three > p {
  margin: 0 20px;
  padding: 10px 0px 0;
}
.sales-step-three > p:not(:first-of-type) {
  border-top: 1px solid #e7ecf1;
}
.sales-step-three .no-border {
  border-bottom: 0 none !important;
}
.sales-step-three > section {
  max-height: 350px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.sales-step-three > section > .item-box {
  overflow: hidden;
}
.sales-step-three > section > .item-box > div.sub-item {
  width: 300px;
  overflow: hidden;
  background-color: #f2f3f8;
  margin-right: 20px;
  float: left;
  text-align: center;
  border-radius: 5px;
}
.sales-step-three > section > .item-box > div.sub-item span {
  line-height: 34px;
}
.sales-step-three > section > .item-box > div.sub-item a {
  float: right;
  width: 66px;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.sales-step-three > section:first-of-type {
  border-bottom: 1px solid #e7ecf1;
  margin: 0 20px;
}
.sales-step-three > section:not(:first-child) {
  padding: 10px 0;
  margin: 0 20px;
}
.sales-shops {
  margin: 0 8px 8px 0;
}
.sales-shops-onsale {
  background-color: #e5e5e5;
}
.sales-shops-onsale:hover {
  background-color: #e5e5e5;
}
.sales-shops-all {
  margin: 20px 0 0 20px;
}
.btn-cancel {
  background-color: white !important;
  border: 1px solid #ff9600;
  color: #ff9600;
}
.btn-cancel:hover {
  border: 0 none;
}
.full-sub-dis {
  background-color: #f1923e !important;
}
.discount-dis {
  background-color: #748c68 !important;
}
.full-give-dis {
  background-color: #f27a7b !important;
}
/**
 * 促销管理样式--end
 */
/*
*  a链接的字体色
*/
table a.btn {
  color: #34495e !important;
}
/**
 *  列表折扣样式
 */
.repeat-discount > span {
  display: inline-block;
  padding: 3px 0;
}
/* 空值提示 */
.empty-tip {
  height: 40px;
  line-height: 20px;
  padding: 10px 0;
  text-align: center;
}
/* 详情页样式 */
.tblDetails .label {
  display: inline-block;
  padding: 6px 20px 6px 0 !important;
  margin: 6px 0px;
  font-size: 14px;
  font-weight: normal;
  height: 26px;
  text-align: center;
  color: #34495e;
  background-color: transparent;
  border-radius: 0;
}
.tblDetails .label:hover {
  background-color: transparent;
}
.tblNormal {
  background-color: #fff;
}
table[class*='tblNormal'] td,
table.tblNormal td {
  border: 1px solid #e7ecf1;
}
form[id*='formOf'] form[id*='formOf'] input:not([type='button']) {
  background-color: inherit;
  padding-top: 0px;
  padding-bottom: 0px;
}
/* 添加活动页面样式 */
/* 抵用券模块样式 */
/* 字体颜色 */
.not-use {
  color: #ff9600;
}
