<div>
  <header ng-include="'../../template/header.html'"></header>
  <section class="mainContent">
    <div class="table-toolbar tblToolbar">
      <div class="tblToolbar-row">
        <div class=""></div>
        <div class="right-arrange">
          <div class="input-group input-medium tblToolbar-search">
            <span class="fa fa-search"></span>
            <input type="search" class="form-control" id="searchGrp" name="searchGrp" placeholder="姓名 / 手机号" ng-model="tblToolbar.searchVal" ng-enter="tblToolbar.launchSearch()">
            <span class="input-group-btn">
              <button class="btn btn-confirm" type="button" ng-click="tblToolbar.launchSearch()"> 搜索 </button>
            </span>
          </div>
        </div>
      </div>
      <div class="tblToolbar-row">
        <div class=""></div>
        <div class="right-arrange">
          <label><span>客户属性：</span>
            <select name="itemNumSel" id="itemNumSel" class="form-control input-inline" ng-options="opt.name for opt in tblToolbar.clientStateList" ng-model="tblToolbar.clientStateVal" ng-change="tblToolbar.clientStateValChanged()">
              <option value="">-请选择-</option>
            </select>
          </label>
          <div class="item-divider"></div>
          <label><span>显示条数：</span>
            <select name="itemNumSel" id="itemNumSel" class="form-control input-inline" ng-options="opt.name for opt in tblToolbar.itemNumList" ng-model="tblToolbar.itemNumVal" ng-change="tblToolbar.itemNumValChanged()">
            </select>
          </label>
        </div>
      </div>
    </div>

    <table class="table table-hover table-bordered tblNormal">
      <thead>
        <tr>
          <th>
            <div>
              <span>客户姓名</span>
              <!-- <input type="hidden" value="{{item.inputValue}}"/> -->
            </div>
          </th>
          <th>
            <div>
              <span>性别</span>
            </div>
          </th>
          <th>
            <div>
              <span>手机号</span>
            </div>
          </th>
          <th>
            <div>
              <span>证件类型</span>
            </div>
          </th>
          <th>
            <div>
              <span>门禁ID个数</span>
            </div>
          </th>
          <th>
            <div>
              <span>地址</span>
            </div>
          </th>
          <th>
            <div>
              <span>客户属性</span>
            </div>
          </th>
          <th>
            <div>
              <span>更多</span>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- 以下由自己手动插入-->
        <tr ng-repeat="item in tblNormal.dataList" ng-if="tblNormal.dataList.length>0">
          <td ng-bind="item.name || '- -'" ng-class="item.name?'':'msgInvalid'"></td>
          <td ng-bind="(item.sex | sexFilter) || '- -'" ng-class="item.sex?'':'msgInvalid'"></td>
          <td ng-bind="item.phone || '- -'" ng-class="item.phone?'':'msgInvalid'"></td>
          <td ng-bind="(item.certType | certTypeFilter) || '- -'" ng-class="item.certType?'':'msgInvalid'"></td>
          <td ng-bind="item.locks || '- -'" ng-class="item.locks?'':'msgInvalid'"></td>
          <td ng-bind="item.address || '- -'" ng-class="item.address?'':'msgInvalid'"></td>
          <td ng-bind="item.state?(item.state | clientStateFilter):'- -'" ng-class="item.state?'':'msgInvalid'"></td>
          <td>
            <input type="hidden" name="dataID" ng-value="item.id">
            <a ng-href="{{'#/clientMng_queryRentClient/' + item.id}}" ng-if="(adminModules[2].type == 2) || (adminModules[2].type == 4)">查看</a>&nbsp;&nbsp;
            <a ng-href="{{'#/clientMng_editRentClient/' + item.id}}" ng-if="(adminModules[2].type == 3) || (adminModules[2].type == 4)">编辑</a>
          </td>
        </tr>
        <tr ng-if="tblNormal.dataList.length==0" class="hintNoMsg">
          <td colspan="8">
            <span class="msgInvalid">- 暂无相关信息 -</span>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="pull-right mt-20"  ng-if="tblNormal.dataList.length>0">
      <div expagination="" data-config-obj="tblPagination"></div>
    </div>
    <div class="clear"></div>

  </section>
</div>
