<div>
  <header ng-include="'../../template/header.html'"></header>
  <section class="mainContent">
    <div class="table-toolbar tblToolbar">
      <div class="tblToolbar-row">
        <div class=""></div>
        <div class="right-arrange">
          <div class="input-group input-medium tblToolbar-search" ng-show="param==='all'">
            <span class="fa fa-search"></span>
            <input type="search" class="form-control" id="searchGrp" name="searchGrp" placeholder="姓名 / 手机号 / 门店" ng-model="tblToolbar.searchVal">
            <span class="input-group-btn">
              <button class="btn btn-confirm" type="button" ng-click="tblToolbar.launchSearch()"> 搜索 </button>
            </span>
          </div>
        </div>
      </div>
      <div class="tblToolbar-row">
        <div class="">
          <a class="btn btn-long {{itemObj.classTxt || 'btn-confirm'}}" ng-href="#/clientMng_addIntent" ng-if="(adminModules[2].type == 3) || (adminModules[2].type == 4)">
            <i class="fa fa-plus"></i>&nbsp;
            <span>添加意向客户</span>
          </a>
        </div>
        <div class="right-arrange">
          <label>
            <span>选择城市：</span>
            <select name="citySel" id="citySel" class="form-control input-inline" ng-options="opt.name for opt in tblToolbar.cityList" ng-model="tblToolbar.cityVal" ng-change="tblToolbar.cityValChanged()">
              <option value="">-请选择-</option>
            </select>
          </label>
          <div class="item-divider" ng-show="tblToolbar.cityVal.id"></div>
          <label ng-show="tblToolbar.cityVal.id">
            <span>选择门店：</span>
            <select name="shopSel" id="shopSel" class="form-control input-inline" ng-options="opt.name for opt in tblToolbar.shopList" ng-model="tblToolbar.shopVal" ng-change="tblToolbar.shopValChanged()">
              <option value="">-请选择-</option>
            </select>
          </label>
          <div class="item-divider"></div>
          <label>
            <span>显示条数：</span>
            <select name="itemNumSel" id="itemNumSel" class="form-control input-inline" ng-options="opt.name for opt in tblToolbar.itemNumList" ng-model="tblToolbar.itemNumVal" ng-change="tblToolbar.itemNumValChanged()">
            </select>
          </label>
        </div>
      </div>
    </div>

    <table class="table table-hover table-bordered tblNormal">
      <thead>
        <tr>
          <th>
            <div>
              <span>客户姓名</span>
              <!-- <input type="hidden" value="{{item.inputValue}}"/> -->
            </div>
          </th>
          <th>
            <div>
              <span>联系方式</span>
            </div>
          </th>
          <th>
            <div>
              <span>意向门店</span>
            </div>
          </th>
          <th>
            <div>
              <span>意向仓型</span>
            </div>
          </th>
          <th>
            <div>
              <span>预计起用时间</span>
            </div>
          </th>
          <th>
            <div>
              <span>预计租赁时间</span>
            </div>
          </th>
          <th>
            <div>
              <span>跟踪责任人</span>
            </div>
          </th>
          <th>
            <div>
              <span>最近跟进时间</span>
            </div>
          </th>
          <th>
            <div>
              <span>更多</span>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- 以下由自己手动插入-->
        <tr ng-repeat="item in tblNormal.dataList" ng-if="tblNormal.dataList.length>0">
          <td ng-bind="item.name || '- -'" ng-class="item.name?'':'msgInvalid'"></td>
          <td ng-bind="item.phone || '- -'" ng-class="item.phone?'':'msgInvalid'"></td>
          <td ng-bind="item.shopName || '- -'" ng-class="item.shopName?'':'msgInvalid'"></td>
          <td ng-bind="(item.unitType | unitTypeFilter) || '- -'" ng-class="item.unitType?'':'msgInvalid'"></td>
          <td ng-bind="(item.startDate | dateFilter:'yyyy-MM-dd') || '- -'" ng-class="item.startDate?'':'msgInvalid'"></td>
          <td ng-bind="item.rentLast?(item.rentLast+'个月'):'- -'" ng-class="item.rentLast?'':'msgInvalid'"></td>
          <td ng-bind="item.managerName || '- -'" ng-class="item.managerName?'':'msgInvalid'"></td>
          <td ng-bind="item.updateDate || '- -'" ng-class="item.updateDate?'':'msgInvalid'"></td>
          <td>
            <input type="hidden" name="dataID" ng-value="item.id">
            <a ng-href="{{'#/clientMng_queryIntent/' + item.id}}" ng-if="(adminModules[2].type == 2) || (adminModules[2].type == 4)">查看</a>&nbsp;&nbsp;
            <a ng-href="{{'#/clientMng_editIntent/' + item.id}}" ng-if="(adminModules[2].type == 3) || (adminModules[2].type == 4)">编辑</a>&nbsp;&nbsp;
            <a href="javascript:;" ng-click="tblNormal.delIntentClient(item.id, item.name)" ng-if="(adminModules[2].type == 3) || (adminModules[2].type == 4)">删除</a>
          </td>
        </tr>
        <tr ng-if="tblNormal.dataList.length==0" class="hintNoMsg">
          <td colspan="8">
            <span class="msgInvalid">- 暂无相关信息 -</span>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="pull-right">
      <div expagination="" data-config-obj="tblPagination"></div>
    </div>
    <div class="clear"></div>

    <div ng-include="'../../template/modalBasic.html'"></div>
  </section>
</div>
