/*********************************************************************
 * 该文件可编写容纳如下类样式结构：
 * 1.tblDetails深度定制
 * 2.tblNormal/tbl-sortable深度定制
 * 3.组件/个别样式深度定制
 * 4.单页样式设置
 *********************************************************************/
/*********************************************************************
 * 1.tblDetails深度定制
 *********************************************************************/
/*********************************************************************
 * 2.tblNormal/tbl-sortable深度定制
 *********************************************************************/
table.tblSortable th,
table.tblSortable td {
  width: calc(12.5%) !important;
}
.table {
  margin-bottom: 0;
}
.mt-20 {
  margin-top: 20px;
}
/*********************************************************************
 * 3.组件/个别样式深度定制
 *********************************************************************/
div.modalErrorMsg,
div.modalResultMsg,
div.modalMsg,
div.modalSuccessMsg {
  text-align: left;
  font-size: 12px;
  padding-left: 2px;
  padding-top: 2px;
}
div.modalResultMsg {
  color: #e4393c;
}
div.modalErrorMsg {
  color: #e4393c;
}
div.modalSuccessMsg {
  color: #7CAE25;
}
div.modalTipMsg {
  text-align: left;
  color: #a9a9a9;
  font-size: 12px;
  padding-left: 2px;
}
.modal-body .row > div {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.modal-body .row > div input {
  width: 100%;
  height: 52px;
  outline: none;
  padding: 0 6px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}
.modal-body .row > div input[type='button'] {
  border: none;
  font-size: 16px;
  font-weight: 500;
  height: 50px;
}
.addRegionContainer {
  margin-left: 15px;
  margin-right: 15px;
}
.addRegionContainer input[type='text'] {
  text-align: center;
  width: 100%;
  line-height: 2em;
  padding: 10px;
}
.addRegionContainer button.btnAdd,
.addRegionContainer button.btnUpdate {
  width: 100%;
  height: 52px;
}
.regionContent .label {
  display: inline-block;
  padding: 10px 5px 10px 10px;
  margin: 10px;
}
.regionContent .label span.fa {
  margin-left: 10px;
  cursor: pointer;
}
.citiesContainer {
  margin-top: 8px;
  padding-top: 8px;
  border-top: 1px solid #f1f1f1;
}
.citiesContainer .label {
  font-size: 14px;
  font-weight: normal;
  display: inline-block;
  padding: 0;
  width: 100%;
  height: 42px;
  line-height: 42px;
  text-align: center;
  color: #34495e;
  background-color: #f0f0f0;
  border-radius: 5px;
  cursor: default;
}
.citiesContainer .label.marked {
  background-color: #ffd700;
}
.citiesContainer .label.clickable {
  cursor: default;
}
.citiesContainer .label.clickable:hover {
  cursor: pointer;
  background-color: #ffd700;
}
.citiesContainer div.col-xs-3 {
  text-align: center;
  margin-bottom: 10px;
}
#btnAddRegion {
  float: right;
}
.panel {
  margin-bottom: 40px;
}
#maskForInput {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  line-height: 40px;
  text-align: center;
  color: inherit;
  position: absolute;
  display: inline-block;
  vertical-align: top;
  z-index: 1;
  top: 0px;
  background-color: #ffd700;
  transition: all .3s;
}
#maskForInput:hover {
  background-color: #ffcc00;
  cursor: pointer;
}
#maskForInput:active {
  background-color: #ffc600;
}
input[type='file'] {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 160px;
  height: 40px;
  visibility: hidden;
}
#btnUpload {
  vertical-align: top;
  width: 160px;
  height: 40px;
  margin-right: 0;
}
.previewContainer {
  background-size: 100% 100%;
  height: 140px;
  margin-bottom: 12px;
}
.previewContainer img {
  max-width: 100%;
  max-height: 100%;
}
.btnsContainer {
  position: relative;
}
#mapContainer {
  width: 99.9%;
  height: 180px;
  margin-bottom: 10px;
  border: 2px solid #E8EAF1;
  border-radius: 5px;
}
.inlineDiv {
  display: inline-block;
}
.inlineDiv input {
  width: 60px !important;
}
.col-xs-6 {
  padding-left: 0;
  padding-right: 0;
}
.col-xs-6:first-child + .col-xs-6 {
  text-align: right;
}
input.multiFormElem[name='longitude'],
input.multiFormElem[name='latitude'] {
  width: 65% !important;
  background-color: transparent !important;
}
#btnForCoordinate {
  width: 99.9%;
  height: 40px;
  margin-right: 0px;
}
.visible_sm_input_container input {
  width: 50px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;
  margin-left: 10px;
}
.rentprice_container i {
  font-style: normal;
  font-size: 12px;
}
.rentprice_container span:not(:last-child) {
  margin: 0 5% 0 0 !important;
}
.rentprice_container em {
  display: inline-block;
  width: 50px;
  margin-left: 10px;
  border-bottom: 1px solid #D9D9D9;
  text-align: center;
  font-style: normal;
}
.rentprice_container input {
  text-align: center !important;
  padding: 0 0 0 0 !important;
}
/*********************************************************************
 * 4.单页样式设置
 *********************************************************************/
.addUnitView .multiFormElem,
.editUnitView .multiFormElem {
  background-color: transparent !important;
  width: 40px !important;
}
.addUnitView input#price,
.editUnitView input#price {
  width: 90px !important;
}
.addShopView input#standPrice,
.editShopView input#standPrice {
  width: 100px !important;
}
.addShopView .previewContainer,
.editShopView .previewContainer {
  max-width: 99.9% !important;
  border: 2px solid #e8eaf1;
  height: auto;
}
.queryShopView #thumbnailBox {
  max-width: 400px !important;
  height: auto;
}
.queryShopView img {
  max-width: 100%;
  max-height: 100%;
}
/* 二维码弹出框 */
.qrcode-mask {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
}
.qrcode-mask .qrcode-container {
  position: absolute;
  z-index: 1001;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.qrcode-mask .icon-close {
  position: relative;
  left: 290px;
  font-size: 30px;
}
.qrcode-mask .icon-close:hover {
  cursor: pointer;
}
.qrcode-mask .scode-container {
  background-color: #fff;
  width: 300px;
  height: 380px;
  border-radius: 5px;
  text-align: center;
  padding: 20px 0 0 0;
}
.qrcode-mask .scode-container #scode {
  background-color: #ffffff;
  margin-bottom: 12px;
  display: inline-block;
}
.qrcode-mask .scode-container .qrcode-name {
  font-size: 18px;
  text-align: center;
  color: #333;
}
.qrcode-mask .scode-container .qrcode-short-link {
  display: inline-block;
  width: 240px;
  border-radius: 5px;
  padding: 10px 0;
  background-color: #E8EAF1;
  color: #333;
}
/* 共享仓位标识 */
.unit-share-badge {
  position: relative;
}
.unit-share-badge::after {
  content: '共享';
  position: absolute;
  z-index: 1;
  right: -40px;
  display: inline-block;
  width: 34px;
  height: 16px;
  border-radius: 2px;
  line-height: 16px;
  background-color: #FF6600;
  color: #FFFFFF;
  font-size: 12px;
}
.mainContent .block-info {
  border-top: 1px solid #fff;
  padding-top: 20px;
  margin-top: 20px;
  background-color: #fff;
}
.mainContent .block-info .title-divider-container {
  margin-top: 0;
}
.mainContent .block-info .right-arrange {
  margin-right: 20px;
}
.mainContent .block-info div.pull-right {
  padding-right: 20px;
}
.mainContent .modal-dialog {
  width: 516px;
  margin: 10% auto 15% auto;
}
.mainContent .modal-dialog .modal-header {
  height: 71px;
  text-align: center;
  background-color: #efede5;
  border-radius: 6px;
  border-bottom: none;
}
.mainContent .modal-dialog .modal-header .modal-title {
  line-height: 40px;
  font-size: 22px;
  font-weight: 500;
}
.mainContent .modal-dialog .modal-header a.editLink {
  color: inherit;
  font-size: 16px;
  line-height: 40px;
  float: right;
  cursor: pointer;
}
.mainContent .modal-dialog .mainContent .modal-body {
  min-height: 171px;
  text-align: center;
  font-size: 16px;
  padding-top: 40px;
  padding-bottom: 10px;
}
.mainContent .modal-dialog .mainContent .modal-body input[type='text'],
.mainContent .modal-dialog .mainContent .modal-body input[type='password'] {
  text-align: left;
  outline: none;
  border-width: 0;
  border-bottom: 1px solid transparent;
  width: 100%;
  transition: all .2s;
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
}
.mainContent .modal-dialog .mainContent .modal-footer {
  height: 85px;
  border-top-color: #f1f1f1;
  text-align: center;
}
.mainContent .modal-dialog .mainContent .modal-footer button {
  width: 204px;
  height: 52px;
}
@media (min-width: 768px) {
  .mainContent .modal-body input[type='text'],
  .mainContent .modal-body input[type='password'] {
    text-align: left;
    outline: none;
    border-width: 0;
    border-bottom: 1px solid transparent;
    width: 100%;
    transition: all .2s;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
  }
}
.null-data {
  color: #ced1d4;
}
.sel-time {
  padding: 0 15px;
  background-color: #E8EAF1;
  border-radius: 5px;
  width: auto !important;
  /* for the future */
}
.sel-time ::-webkit-input-placeholder {
  color: #4d6b8a;
}
.sel-time :-moz-placeholder {
  color: #4d6b8a !important;
}
.sel-time ::-moz-placeholder {
  color: #4d6b8a !important;
}
.sel-time :-ms-input-placeholder {
  color: #4d6b8a !important;
}
.mainContent .table-statics.table-statics-diagram {
  background-color: #fff;
  padding: 20px 10px;
  margin-bottom: 20px;
}
.mainContent .table-statics.table-statics-diagram .tblToolbar-row .title {
  height: 34px;
  line-height: 34px;
  position: relative;
}
.mainContent .table-statics.table-statics-diagram .tblToolbar-row .title::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 3px;
  top: 0;
  left: -10px;
  background-color: #ffd700;
}
.mainContent .table-statics.table-statics-diagram .content-box-header {
  border-bottom: 0 none;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainContent .table-statics.table-statics-diagram .content-box-header .title {
  display: inline-block;
}
.mainContent .table-statics.table-statics-diagram .content-box-header .datepickerDiv {
  display: inline-block;
  margin-left: 40px;
}
.mainContent .table-statics.table-statics-diagram .content-box-header .timePeriod {
  float: right;
}
.mainContent .table-statics.table-statics-diagram .content-box-header .timePeriod a {
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 4px;
  color: #9D9FA7;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}
.mainContent .table-statics.table-statics-diagram .content-box-header .timePeriod a:hover {
  border-bottom-color: #ffd700;
}
.mainContent .table-statics.table-statics-diagram .content-box-header .timePeriodChsn {
  color: #ffd700 !important;
  border-bottom-color: #ffd700 !important;
}
.mainContent .diagramTitle {
  font-size: 16px;
}
.mainContent .content-box {
  height: 500px;
}
.mainContent .panel {
  border: 0 none;
  box-shadow: none;
  margin-bottom: 0;
}
