<script src="../../js/public/vendors/jquery.js" type="text/javascript"></script>
<script src="../../js/public/vendors/viewer.js" type="text/javascript"></script>
<!-- <script src="https://cdn.bootcss.com/viewerjs/0.7.2/viewer.js" type="text/javascript"></script> -->
<script src="../../js/public/vendors/bootstrap.js" type="text/javascript"></script>
<script src="../../js/public/vendors/iLayout.js" type="text/javascript"></script>
<script src="../../js/public/vendors/laydate.dev.js"></script>
<script src="../../js/public/vendors/lrz.bundle.js"></script>
<script src="../../js/public/vendors/angular.js"></script>
<script src="../../js/public/vendors/angular-route.js"></script>
<script src="../../js/public/modules/cm-module.js"></script>
<script src="../../js/public/modules/ngDraggable.js"></script>
<script src="../../js/public/modules/initpage-module.js"></script>
<script src="../../js/public/modules/route-module.js"></script>
<script src="../../js/public/modules/http-module.js"></script>
<script src="../../js/public/modules/filter-module.js"></script>
<script src="../../js/public/modules/components-module.js"></script>
