input {
  border: none;
  outline: none;
  background-color: transparent;
  transition: all 0.3s;
}
.veiw {
  max-width: 1022px !important;
}
.msgError {
  font-size: 10px;
}
.info-header {
  overflow: hidden;
  padding: 0 15px 20px;
  margin-bottom: 12px;
}
.info-header > div {
  height: 210px;
}
.info-header .info-header-pic {
  float: left;
  width: 330px;
}
.info-header .info-header-text {
  padding-top: 20px;
  padding-left: 330px;
}
.info-header .info-header-text > div {
  width: 100%;
  position: relative;
  z-index: 0;
}
.info-header .info-header-text > div > div:first-child {
  margin-bottom: 56px;
}
.info-header .info-header-text > div > div:first-child .msg-container {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
}
.info-header .info-header-text > div > div[class*='info-header-'] {
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.info-header .info-header-text > div > div[class*='info-header-'] div:first-child {
  float: left;
  width: 80px;
}
.info-header .info-header-text > div > div[class*='info-header-'] div:first-child + div {
  float: left;
  min-width: 80%;
  padding-right: 100px;
}
.info-header .info-header-text > div input[type='text'] {
  font-size: 16px;
  width: 100%;
}
.info-header :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-size: 16px;
}
.info-header ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-size: 16px;
}
.info-header input:-ms-input-placeholder,
.info-header textarea:-ms-input-placeholder {
  font-size: 16px;
}
.info-header input::-webkit-input-placeholder,
.info-header textarea::-webkit-input-placeholder {
  font-size: 16px;
}
.info-header .mainPicContainer {
  cursor: pointer;
  width: 250px;
}
.info-header .mainPicContainer > .mainPicDiv {
  display: inline-block;
  background-color: #fff;
  border: none;
}
.info-header .mainPicContainer > .mainPicDiv > img {
  width: 250px;
  height: 170px;
  background-size: 30%;
  border: 1px solid #E8EAF1;
}
.info-header .mainPicContainer > button {
  width: 250px;
  background-color: #E4E4E4;
  border: none;
  padding: 10px 0;
  color: #949494;
  outline: none;
}
.info-header .mainPicContainer > button:hover {
  background-color: #dbdbdb;
}
.info-header .mainPicContainer > button:active {
  background-color: #d0d0d0;
}
.info-container-wrapper {
  display: block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 1066px;
  overflow-x: auto;
}
.info-editor {
  padding-top: 10px;
  margin-bottom: 10px;
}
.info-footer {
  margin-bottom: 12px;
}
.info-state-tip {
  position: absolute;
  z-index: 2;
  top: -40%;
  right: -30px;
  color: #e4393c;
  font-size: 8px;
}
.article-body {
  width: 1002px;
  background-color: #ffffff;
  font-size: 16px;
}
.article-body hr {
  margin: 0;
}
.article-body h1,
.preview-content h1,
.article-body h2,
.preview-content h2,
.article-body h3,
.preview-content h3,
.article-body h4,
.preview-content h4,
.article-body h5,
.preview-content h5,
.article-body h6,
.preview-content h6 {
  font-weight: bold !important;
}
.article-body > div:first-child,
.preview-content > div:first-child {
  color: #000;
}
.article-body #info-content,
.preview-content #info-content {
  color: #1a1a1a !important;
}
.preview-modal .modal-dialog {
  width: 1044px !important;
  margin: 2% auto !important;
}
.preview-modal .modal-dialog .modal-body {
  padding: 16px 20px !important;
  text-align: left !important;
}
