<div>
  <header ng-include="'../../template/header.html'"></header>
  <section class="mainContent">
    <div class="panel panel-warning">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <h3 class="panel-title text-primary">
          <span> 线索客户详情 </span>
          <a ng-href="{{'#/threadMng_editThread/' + param}}" class="pull-right" ng-if="(adminModules[10].type == 3) || (adminModules[10].type == 4) && (queryResult.state !== 4)">编辑</a>
          <!-- <a ng-href="{{'#/threadMng_editThread/' + param}}" class="pull-right" ng-show="adminModules[2].isHave">编辑</a> -->
        </h3>
      </div>
      <form id="formOfAdding">
        <table class="table tbl_edit tbl_details tblDetails">
          <tbody>
            <tr class="row">
              <td class="col-xs-2">
                <span> 客户姓名 </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-4">
                    <span ng-bind="queryResult.name"></span>
                  </div>
                  <div class="col-xs-8"></div>
                </div>
              </td>
            </tr>
            <tr class="row">
              <td class="col-xs-2">
                <span> 联系方式 </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-4">
                    <span ng-bind="queryResult.phone"></span>
                  </div>
                  <div class="col-xs-8"></div>
                </div>
              </td>
            </tr>
            <tr class="row">
              <td class="col-xs-2">
                <span> 客户性别 </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-4">
                    <span ng-bind="queryResult.sex | sexFilter"></span>
                  </div>
                  <div class="col-xs-8"></div>
                </div>
              </td>
            </tr>
            <tr class="row">
              <td class="col-xs-2">
                <span> 所在城市 </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-4">
                    <span ng-bind="queryResult.cityName"></span>
                  </div>
                  <div class="col-xs-8"></div>
                </div>
              </td>
            </tr>
            <tr class="row">
              <td class="col-xs-2">
                <span> 客户地址 </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-4">
                    <span ng-bind="queryResult.address"></span>
                  </div>
                  <div class="col-xs-8"></div>
                </div>
              </td>
            </tr>
            <tr class="row">
              <td class="col-xs-2">
                <span> 物品类型 </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-4">
                    <span ng-bind="(queryResult.storeType | storeItemTypeFilter) || '- -'" ng-class="{'msgInvalid':!queryResult.storeType}"></span>
                  </div>
                  <div class="col-xs-8"></div>
                </div>
              </td>
            </tr>
            <tr class="row">
              <td class="col-xs-2">
                <span> 物品描述 </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-4">
                    <span ng-bind="queryResult.storeItems || '- -'" ng-class="{'msgInvalid':!queryResult.storeItems}"></span>
                  </div>
                  <div class="col-xs-8"></div>
                </div>
              </td>
            </tr>
            <tr class="row">
              <td class="col-xs-12 td-divider" colspan="2"></td>
            </tr>
            <tr class="row">
              <td class="col-xs-2">
                <span> 客户类型 </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-4">
                    <span ng-bind="queryResult.userType | threadClientTypeFilter"></span>
                  </div>
                  <div class="col-xs-8"></div>
                </div>
              </td>
            </tr>
            <tr class="row">
              <td class="col-xs-2">
                <span> 业务类型 </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-4">
                    <span ng-bind="queryResult.businessType | threadBusinessTypeFilter"></span>
                  </div>
                  <div class="col-xs-8"></div>
                </div>
              </td>
            </tr>
            <tr class="row">
              <td class="col-xs-2">
                <span> 客户来源 </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-4">
                    <span ng-bind="queryResult.srcID | threadSrcFilter:tblDetails.threadClientSrcList"></span>
                  </div>
                  <div class="col-xs-8"></div>
                </div>
              </td>
            </tr>
            <!-- 当客户来源为"百度推广"时，才展示关键词 -->
            <tr class="row" ng-show="queryResult.srcID == 1">
              <td class="col-xs-2">
                <span> 关键词 </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-4">
                    <span ng-bind="queryResult.keyword"></span>
                  </div>
                  <div class="col-xs-8"></div>
                </div>
              </td>
            </tr>
            <tr class="row">
              <td class="col-xs-2">
                <span> 跟踪责任人 </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-4">
                    <span ng-bind="queryResult.managerName"></span>
                  </div>
                  <div class="col-xs-8"></div>
                </div>
              </td>
            </tr>
            <tr class="row">
              <td class="col-xs-12 td-divider" colspan="2"></td>
            </tr>
            <tr class="row">
              <td class="col-xs-2">
                <span> 客服人员 </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-4">
                    <span ng-bind="queryResult.adminName || '- -'" ng-class="{'msgInvalid':(! queryResult.adminName)}"></span>
                  </div>
                  <div class="col-xs-8"></div>
                </div>
              </td>
            </tr>
            <tr class="row">
              <td class="col-xs-2">
                <span> 来电时间 </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-4">
                    <span ng-bind="queryResult.callTime"></span>
                  </div>
                  <div class="col-xs-8"></div>
                </div>
              </td>
            </tr>
            <tr class="row">
              <td class="col-xs-2">
                <span> 状态 </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-4">
                    <span ng-bind="queryResult.state | threadStateFilter"></span>
                  </div>
                  <div class="col-xs-8"></div>
                </div>
              </td>
            </tr>
            <tr class="row" ng-show="queryResult.state == 4">
              <td class="col-xs-2">
                <span> 已签约订单号 </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-12">
                    <a ng-repeat="orderId in queryResult.orderIDList" ng-href="{{'../orderMng/index.html#/orderMng_queryOrder/'+ orderId}}" ng-class="{'msgInvalid': !queryResult.orderID}">{{orderId+' '}}</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="row" ng-show="queryResult.state == 5">
              <td class="col-xs-2">
                <span> 关闭原因 </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-12">
                    <span ng-bind="(queryResult.giveUpReasonType | giveUpReasonTypeFilter) || '- -'" ng-class="{'msgInvalid': !queryResult.giveUpReasonType}"></span>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="row" ng-show="queryResult.state == 5">
              <td class="col-xs-2">
                <span> 原因描述 </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-12">
                    <span ng-bind="queryResult.giveUpReason || '- -'" ng-class="{'msgInvalid': !queryResult.giveUpReason}"></span>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="row">
              <td class="col-xs-2">
                <span> 备注 </span>
              </td>
              <td class="col-xs-10 formCtrlTd">
                <div class="row">
                  <div class="col-xs-12">
                    <span ng-bind="queryResult.remarks || '- -'" ng-class="{'msgInvalid': !queryResult.remarks}"></span>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
