<div>
  <header ng-include="'../../template/header.html'"></header>
  <section class="mainContent">
    <div class="table-toolbar tblToolbar">
      <div class="tblToolbar-row">
        <div class=""></div>
        <div class="right-arrange">
          <div class="input-group input-medium tblToolbar-search">
            <span class="fa fa-search"></span>
            <input type="search" class="form-control" id="searchGrp" name="searchGrp" placeholder="管理员名称" ng-model="tblToolbar.searchVal" ng-enter="tblToolbar.launchSearch()">
            <span class="input-group-btn">
              <button class="btn btn-confirm" type="button" ng-click="tblToolbar.launchSearch()"> 搜索 </button>
            </span>
          </div>
        </div>
      </div>
      <div class="tblToolbar-row">
        <div class="">
          <a class="btn btn-long {{itemObj.classTxt || 'btn-confirm'}}" ng-href="#/authorizeMng_adminsAdd" ng-if="(adminModules[4].type == 3) || (adminModules[4].type == 4)">
            <i class="fa fa-plus"></i>&nbsp;
            <span> 添加后台管理员 </span>
          </a>
        </div>
        <div class="right-arrange">
          <label><span>选择角色：</span>
            <select name="citySel" id="citySel" class="form-control input-inline" ng-options="opt.name for opt in tblToolbar.roleTypeList" ng-model="tblToolbar.roleVal" ng-change="tblToolbar.roleValChanged()">
              <option value="">-请选择-</option>
            </select>
          </label>
          <div class="item-divider"></div>
          <label><span>显示条数：</span>
            <select name="itemNumSel" id="itemNumSel" class="form-control input-inline" ng-options="opt.name for opt in tblToolbar.itemNumList" ng-model="tblToolbar.itemNumVal" ng-change="tblToolbar.itemNumValChanged()">
            </select>
          </label>
        </div>
      </div>
    </div>

    <table class="table table-hover table-bordered tblNormal">
      <thead>
        <tr>
          <th>
            <div>
              <span>姓名</span>
            </div>
          </th>
          <th>
            <div>
              <span>用户名</span>
            </div>
          </th>
          <th>
            <div>
              <span>密码</span>
            </div>
          </th>
          <th>
            <div>
              <span>角色</span>
            </div>
          </th>
          <th>
            <div>
              <span>更多</span>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- 以下由自己手动插入-->
        <tr ng-repeat="item in tblNormal.dataList" ng-if="tblNormal.dataList.length>0">
          <td ng-bind="item.remarks"></td>
          <td ng-bind="item.name"></td>
          <td class="msgInvalid">
            <span>******</span>
            <i class="fa fa-invisible" style="margin-left:4px;"></i>
          </td>
          <td ng-bind="item.roleName || '- -'" ng-class="item.roleName?'':'msgInvalid'"></td>
          <td>
            <a ng-href="{{'../authorizeMng/index.html#/authorizeMng_adminsEdit/' + item.id}}" ng-click="tblNormal.recordItem(item)" style="margin-right:12px;" ng-if="(adminModules[4].type == 3) || (adminModules[4].type == 4)">编辑</a>
            <a href="javascript:;" ng-click="tblNormal.delAdmin(item.id, item.name)" ng-if="(adminModules[4].type == 3) || (adminModules[4].type == 4)">删除</a>
          </td>
        </tr>
        <tr ng-if="tblNormal.dataList.length==0" class="hintNoMsg">
          <td colspan="8">
            <span class="msgInvalid">- 暂无相关信息 -</span>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="pull-right">
      <div expagination="" data-config-obj="tblPagination"></div>
    </div>
    <div class="clear"></div>

    <div ng-include="'../../template/modalBasic.html'"></div>
  </section>
</div>
