.irow {
  width: 100%;
  overflow: hidden;
}
.irow::before {
  content: ' ';
  display: table;
}
.irow::after {
  content: ' ';
  display: table;
}
.icol-left {
  float: left;
  width: 28%;
}
.icol-right {
  float: left;
  width: 72%;
}
.icol-left {
  padding-right: 20px;
}
.export-container {
  position: relative;
  z-index: 3;
  left: 50%;
  margin-top: 4%;
  -webkit-transform: translate(-50%, -2%);
          transform: translate(-50%, -2%);
  background-color: #ffffff;
  display: inline-block;
  width: 512px;
  height: 520px;
  border: 1px solid #e7ecf1;
  border-radius: 6px;
  padding: 40px 36px 10px;
}
.export-container .irow:not(:last-child) {
  margin-bottom: 40px;
  font-size: 16px;
}
.export-container .irow:first-child {
  margin-top: 10px;
}
.export-container .irow:last-child {
  position: relative;
  bottom: -20px;
}
.export-container .irow > [class*='icol-'] {
  height: 50px;
  line-height: 48px;
}
.date-picker-input {
  display: inline-block !important;
  width: 315px;
  height: 48px;
  border: 1px solid #e7ecf1;
  border-radius: 2px;
  background-color: #ffffff;
  outline: none;
  vertical-align: middle;
  position: relative;
}
.date-picker-input > .laydate-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 6px;
}
.idropdown-sel > .idropdown-btn {
  text-align: center;
  width: 315px;
  height: 48px;
  border: 1px solid #e7ecf1;
  background-color: #ffffff;
}
.idropdown-sel > .idropdown-menu {
  width: 315px;
}
.idropdown-sel > .idropdown-menu ul {
  padding-left: 10px;
  max-height: 300px;
  overflow-y: auto;
}
.idropdown-sel > .idropdown-menu ul li:first-child {
  height: 40px;
}
.idropdown-sel > .idropdown-menu ul li:first-child ~ li {
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
}
.idropdown-sel > .idropdown-menu ul li:first-child ~ li:hover {
  background-color: #F1F3FA;
  cursor: pointer;
}
.idropdown-sel .search-group {
  height: 56px;
}
.idropdown-sel .search-group .search-group-text {
  width: 239px;
  height: 32px;
  line-height: 30px;
}
/*********************************************************************
 * v2筛选栏特殊样式设置
 *********************************************************************/
.mainContent.splLayout > .table-toolbar {
  box-sizing: border-box;
  border: 1px solid #e7ecf1;
  background-color: #fff;
  padding: 0 30px;
}
.mainContent.splLayout > .table-toolbar > .tblToolbar-row {
  padding: 20px 0;
  display: block !important;
}
.mainContent.splLayout > .table-toolbar > .tblToolbar-row > .right-arrange {
  position: relative;
  display: block !important;
}
.mainContent.splLayout > .table-toolbar > .tblToolbar-row > .right-arrange > .input-group {
  width: 240px !important;
  position: absolute;
  right: 0;
  top: 0;
}
.mainContent.splLayout > .table-toolbar > .tblToolbar-row .timeSelect {
  display: inline-block;
}
.mainContent.splLayout > .table-toolbar > .tblToolbar-row .timeSelect .date-picker-input {
  width: auto;
  height: auto;
  border-radius: 3px;
  padding: 5px;
}
.mainContent.splLayout > .table-toolbar > .tblToolbar-row .timeSelect .date-picker-input > input {
  width: 120px;
  border: 0 none;
}
.mainContent.splLayout > .table-toolbar > .tblToolbar-row:not(:last-child) {
  border-bottom: 1px solid #e7ecf1;
}
.mainContent.splLayout > .table {
  margin: 20px 0;
}
/*********************************************************************
 * 数据分析页面的样式设置
 *********************************************************************/
.orderMng-Analy {
  background-color: #fff;
}
.orderMng-Analy .left-arrange > div.title {
  margin: 0;
  height: 39px;
  line-height: 39px;
  position: relative;
  font-size: 14px;
  padding-left: 12px;
  color: #3f475a;
}
.orderMng-Analy .left-arrange > .title::before {
  background: #ffd700;
  content: '';
  height: 100%;
  width: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.orderMng-Analy .right-arrange > label .timeSelect {
  display: inline-block;
}
.orderMng-Analy .right-arrange > label .timeSelect .date-picker-input {
  width: auto;
  height: auto;
  border-radius: 3px;
  padding: 5px;
}
.orderMng-Analy .right-arrange > label .timeSelect .date-picker-input > input {
  width: 120px;
  border: 0 none;
}
.orderMng-Analy .right-arrange > label:last-child {
  margin-right: 20px;
}
.table-box {
  padding: 0 20px;
  position: relative;
}
.table-box .border-div {
  position: absolute;
  left: 50%;
  bottom: 53px;
  height: 0;
  border-top: 1px dashed #d1d1d1;
  margin-left: -49%;
  width: 98%;
}
.diagram-table {
  width: 100%;
  background-color: transparent;
}
.diagram-table thead tr:first-child {
  background-color: #F7F9FD;
}
.diagram-table thead tr {
  border-bottom: 1px solid #F0F0F0;
}
.diagram-table tbody tr {
  border-bottom: 1px solid #F0F0F0;
}
.diagram-table tbody tr:nth-last-child(-n+2) {
  height: 55px;
  border-bottom: 0 none;
}
.diagram-table tbody tr:last-child {
  height: 55px;
  color: #2b3037;
}
.diagram-table tr:hover {
  background-color: #F7F9FD;
}
.diagram-table td,
.diagram-table th {
  text-align: center;
  padding: 12px 6px;
}
.cs-table,
.sales-table {
  margin-bottom: 20px;
}
.cs-table td:first-child,
.sales-table td:first-child,
.cs-table td:last-child,
.sales-table td:last-child,
.cs-table th:first-child,
.sales-table th:first-child,
.cs-table th:last-child,
.sales-table th:last-child {
  width: 10%;
}
/*********************************************************************
 * 表格单元格长度限制
 *********************************************************************/
.break-word {
  max-width: 200px;
  word-break: break-word;
}
/*********************************************************************
 * 表格单元格中的图片
 *********************************************************************/
.contractList-box .img-box {
  width: 60px;
  height: 60px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #e6e6ee;
  cursor: pointer;
}
.contractList-box .img-box img {
  display: block;
  width: 100%;
  height: 100%;
}
/*********************************************************************
 * 上传图片的框框样式
 *********************************************************************/
.upload-outerbox {
  position: fixed;
  width: 100%;
  height: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 999;
  opacity: 0;
  transition: opacity .3s, height 0s .3s;
}
.upload-outerbox h3,
.upload-outerbox p {
  margin: 0;
}
.upload-outerbox .msgInvalid {
  font-size: 14px;
}
.upload-outerbox .upload-box {
  box-sizing: border-box;
  width: 516px;
  height: 350px;
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0 15px;
}
.upload-outerbox-show {
  height: 100%;
  opacity: 1;
  transition: opacity .3s;
}
.upload-box .title {
  padding: 15px 0;
}
.upload-box .title h3 {
  display: inline-block;
  vertical-align: middle;
}
.upload-box .title .title-tip {
  display: inline-block;
  vertical-align: middle;
}
.upload-box .content {
  height: 190px;
  padding: 20px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  position: relative;
}
.upload-box .content .addImgbtn {
  display: inline-block;
  width: 60px;
  height: 60px;
  overflow: hidden;
  background-color: #fff;
  border: 2px solid #c3f2d2;
  position: relative;
  box-sizing: border-box;
  transition: all 0.4s;
}
.upload-box .content .addImgbtn:hover {
  background-color: #efeff4;
  border: 2px solid #c3f2d2;
  transition: all 0.4s;
}
.upload-box .content .addImgbtn::before {
  content: '';
  position: absolute;
  width: 35px;
  height: 3px;
  background-color: #ccc;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.upload-box .content .addImgbtn::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 35px;
  background-color: #ccc;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.upload-box .content .preview-box {
  overflow: hidden;
  padding-left: 0;
}
.upload-box .content .preview-box li {
  float: left;
  border: 2px solid #e6e6ee;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  margin-right: 15px;
  margin-bottom: 15px;
  vertical-align: top;
  position: relative;
}
.upload-box .content .preview-box li .delete-img {
  width: 16px;
  height: 0;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  cursor: pointer;
}
.upload-box .content .preview-box li .upload-success {
  width: 0;
  height: 0;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  right: 3px;
  text-align: center;
  background-color: #00a854;
  opacity: 0;
  -webkit-transform: scale(3, 3);
          transform: scale(3, 3);
}
.upload-box .content .preview-box li .upload-success::before {
  content: '';
  width: 6px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(2px, 9px) rotate(58deg);
          transform: translate(2px, 9px) rotate(58deg);
}
.upload-box .content .preview-box li .upload-success::after {
  content: '';
  width: 10px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(5px, 8px) rotate(143deg);
          transform: translate(5px, 8px) rotate(143deg);
}
.upload-box .content .preview-box li .upload-success-show {
  width: 16px;
  height: 16px;
  opacity: 1;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  transition: opacity .4s, -webkit-transform .4s;
  transition: opacity .4s, transform .4s;
  transition: opacity .4s, transform .4s, -webkit-transform .4s;
}
.upload-box .content .delete-img::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  width: 10px;
  height: 1px;
  background-color: rgba(249, 101, 101, 0);
}
.upload-box .content .delete-img::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  width: 10px;
  height: 1px;
  background-color: rgba(249, 101, 101, 0);
}
.upload-box .content .preview-box li:hover {
  border: 2px solid #e6e6ee;
}
.upload-box .content .preview-box li:hover .delete-img {
  background-color: rgba(255, 255, 255, 0.8);
  width: 16px;
  height: 16px;
  transition: background-color 0.4s;
}
.upload-box .content .preview-box li:hover .delete-img::before {
  background-color: #f96565;
  transition: background-color 0.4s;
}
.upload-box .content .preview-box li:hover .delete-img::after {
  background-color: #f96565;
  transition: background-color 0.4s;
}
.upload-box .content .preview-box li img {
  display: block;
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.upload-box .content .uploading {
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #efeff4;
}
.upload-box .content .uploading .walk-block-box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.upload-box .content .uploading .walk-block-box .walk-block {
  position: absolute;
  left: 0;
  width: 20px;
  height: 5px;
  background-color: #343337;
  -webkit-animation: walkanimate 2s infinite;
          animation: walkanimate 2s infinite;
}
.upload-box .content .uploading .text-tip {
  width: 100%;
  color: #888;
  position: absolute;
  bottom: 5px;
  font-size: 12px;
  z-index: 2;
}
@-webkit-keyframes walkanimate {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(486px);
            transform: translateX(486px);
  }
}
@keyframes walkanimate {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(486px);
            transform: translateX(486px);
  }
}
.upload-box .content input.addfile {
  display: block;
  height: 60px;
  opacity: 0;
}
.upload-box .footer {
  text-align: right;
}
.upload-box .footer .foot-tip {
  text-align: left;
  padding: 10px 0 15px;
}
.upload-box .footer .warm-prompt {
  float: left;
  overflow: hidden;
  color: #f96565;
}
.upload-box .footer .warm-prompt p {
  overflow: hidden;
  height: 34px;
  line-height: 34px;
  float: left;
  opacity: 0;
  transition: opacity 3s;
}
.upload-box .footer .warm-prompt .p-show {
  opacity: 1;
  transition: opacity 1s;
}
.upload-box .footer .btn-box {
  float: right;
}
.upload-box .footer .btn-box a {
  margin-left: 15px;
}
/*********************************************************************
 * 查看合同样式
 *********************************************************************/
.viewContract-outerbox {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2016;
  opacity: 0;
  text-align: center;
}
.viewContract-outerbox .img-box {
  position: relative;
  height: 0;
  display: inline-block;
  margin: 0 auto;
  overflow: auto;
}
.viewContract-outerbox .img-box .scroll-box {
  display: inline;
  height: auto;
}
.viewContract-outerbox .img-box .scroll-box img {
  max-width: 1000px;
}
.viewContract-outerbox .prev,
.viewContract-outerbox .next {
  z-index: 1;
  position: absolute;
  top: 0;
  height: 80px;
  width: 80px;
}
.viewContract-outerbox .prev .img-view-tip,
.viewContract-outerbox .next .img-view-tip {
  color: #fff;
  position: absolute;
  height: 60px;
  line-height: 60px;
  width: 100px;
  top: 50%;
  opacity: 0;
}
.viewContract-outerbox .prev .img-view-tip-show,
.viewContract-outerbox .next .img-view-tip-show {
  opacity: 1;
  transition: opacity 0.3s;
}
.viewContract-outerbox .prev button,
.viewContract-outerbox .next button {
  background-color: transparent;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  top: 50%;
  opacity: 1;
}
.viewContract-outerbox .prev {
  left: 0;
}
.viewContract-outerbox .prev .img-view-tip {
  left: 80px;
}
.viewContract-outerbox .prev button {
  left: 10px;
  background-image: url('../../img/left.png');
  background-size: 60px 60px;
}
.viewContract-outerbox .prev button:hover {
  opacity: 1;
  background-image: url('../../img/left_per.png');
}
.viewContract-outerbox .next {
  right: 0;
}
.viewContract-outerbox .next .img-view-tip {
  right: 80px;
}
.viewContract-outerbox .next button {
  right: 10px;
  background-image: url('../../img/right.png');
  background-size: 60px 60px;
}
.viewContract-outerbox .next button:hover {
  opacity: 1;
  background-image: url('../../img/right_per.png');
}
.viewContract-outerbox-show {
  opacity: 1;
}
.viewer-container {
  background-color: #000000;
}
.viewer-container .viewer-button.viewer-close {
  background-color: #272727;
}
.viewer-container .viewer-button.viewer-close:hover {
  background-color: #383838;
}
.viewer-container .viewer-toolbar > li:hover {
  background-color: rgba(39, 39, 39, 0.8);
}
